<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">會員登入</h4>
</div>
<form class="form-group">
    <div class="modal-body">
        <div class="form-group">
            <label for="">帳號</label>
            <input type="text" class="form-control" name='account' placeholder="帳號" ng-model="lpc.account">
        </div>
        <div class="form-group">
            <label for="">密碼</label>
            <input type="password" class="form-control" name='password' placeholder="密碼" ng-model="lpc.password">
        </div>
    </div>
    <div class="modal-footer text-center">
        <a ui-sref='changepw' data-dismiss="modal" ng-click="$dismiss()">忘記密碼？</a>
        <button type='button' class='btn btn-warning' ui-sref='member' data-dismiss="modal" ng-click="$dismiss()">會員註冊</button>
        <button class='btn btn-primary' ng-click="lpc.submit();">登入</button>
        <button class='btn btn-danger' type='button' data-dismiss="modal" ng-click="$dismiss()">取消</button>
    </div>
</form>
