    .contbody {
        padding-top: $headerheight - 20px;
        padding-bottom:20px;
        .bannerlogo {
            background-image: url('../images/bannerlogo.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: right 50%;
            height: 200px;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
        }
        .index-menu {
            padding-top: 12px;
            box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
            >ul {
                li {
                    margin-left: 3%;
                    width: 20%;
                    .icon {
                        margin: auto;
                        width: 30px;
                        height: 30px;
                        margin-bottom: 3px;
                    }
                    a {
                        color: #b00f30;
                        ;
                        text-decoration: none;
                    }
                }
            }
        }
        .main-context {
            .More{
                margin-top:-1px;
                margin-bottom:10px;
                button{
                    background-color:rgba(66, 158, 236, 0.2);
                    font-weight: bolder;
                    border:none;
                    border-top-left-radius: 0px;
                    border-top-right-radius: 0px;
                    color:#337ab7;
                }
            }
            ul{
                margin-bottom: 0px;
            }
            ul.news-list {
                li {
                    // 
                    padding-top: 15px;
                    padding-bottom: 15px;
                    
                    label {
                        font-size: 14px;
                        // margin-right: 30px;
                    }

                }
                li:nth-child(odd) {
                    background-color: rgba(239, 239, 239, 0.5);
                }
            }
        }
        .bluelink{
            a{
                color:#337ab7;
            }
            a:hover, a:focus {
                color: #23527c;
                text-decoration: underline;
            }
        }
    }
    .docheader {
        font{
            margin: 0;
            padding: 1% 18px;
            color:#777;
            letter-spacing: 2px;
            line-height: 24px;
            font-size: 16px;
            background-color: rgba(70%,70%,70%,0.3);
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            text-shadow: 1px 2px 0px #FFF,
                         2px 2px 2px #FFF;
            text-align: center;
        }
    }
    .page-header{
        margin-top:30px;
        margin-bottom: 0px;
        padding: 0px;
        padding-left: 20px;
        border:none;
    }
    #D001{
        div:first-child{
            margin: 0px     
        }        
    }
    .delist{
        margin-top:10px;
        li {
            margin-bottom:10px;
            font-size:120%;
        }
    }
    .shop-list {
        margin-top: 20px;
        font-size: 12px;
        small{
            text-align: center;
            font-size: 9px;
            color:#777;
        }
        caption {
            line-height: 40px;
            color: #aa0037;
            border-bottom: 2px solid #aa0037;
            margin: 2px;
            margin-bottom: 0px;
            padding: 0px;
            text-align: center;
            font-size: 16px;
            font-weight: 900;
            button{
                margin-top: 10px;
                margin-left: 10px;
                border-bottom-left-radius: 0px;
                border-bottom-right-radius: 0px;
            }
        }
        tr {
            margin: 5px;
            padding: 2px;
            th{vertical-align: middle;}
            >td {
                margin: 5px;
                padding: 2px;
            }
        }
        tfoot {
            padding: 0;
            margin: 0;
            >tr {
                padding: 0;
                margin: 0;
                >td {
                    padding: 0;
                    margin: 0;
                }
            }
        }
    }
    
    .text-de {
        color: #ea8103;
    }
    
    .shopcart-btn {
        background: #eee;
        padding:0px 10px;
        border-top: 1px solid #ddd;
        li {
            color: #333;
            padding: 10px;
            &.active {
                border-top: 2px solid #d9534f;
                background: #fff;
                color:#d9534f;
                font-weight: 900;
            }
        }
    }
    .shopcart-header{
        margin-top: 20px;
        thead{
            margin-top:50px;
            background-color: #eee;
            font-size: 12px;
            tr{
                td{
                    border: none;
                }
            }
        }
    }
    .table-ordercolor {
        background: rgba(252, 238, 238, 0.2);
    }
    
    #scheme {
        padding-left: 5px;
        font-size: 16px;
        border:5px solid #EfEfEf;
        overflow: hidden;
        height:150px;
        .scheme {
            width: 100%;
            height:auto;
            overflow: auto;
            padding-top: 10px;

            p:first-child{
                margin: 0 10px 0 10px;
                font-weight: bolder;
                font-size: 14px;
                padding: 0px 5px;
                padding-top: 5px;
                border-top: 1px solid rgba(217,83,79,0.3);

            }
            table{
                font-size: 80%
            }
            .magee_text{
                p{
                    margin: 0px;
                    padding: 0px;
                    border:none;
                    img{
                        width: 100%;
                    }
                }
            }
        }
        .title {
            padding: 4px 0px;
            background-color: #fff8ec;
            width: 100%;
            text-align: center;
            color: #573620;
            // margin-bottom: 8px;
            border: 1px solid #a27856;
            font-weight: bold;
        }
        p {
            margin: 0;
        }
        .grp {
            font-size: 12px;
            color: #fff;
            width: 100%;
            height: auto;
            overflow: hidden;
            padding: auto;
            margin-bottom: 5px;
            .vol {
                float: left;
                padding: 3px 6px;
                margin-right: 2px;
                background-color: #e37779;
            }
            .place {
                float: left;
                padding: 3px 6px;
                margin-right: 2px;
                background-color: #a27856;
            }
            .date {
                width: 205px;
                text-align: center;
                float: left;
                padding: 3px 0px;
                margin-right: 2px;
                background-color: #a27856;
            }
            .sts {
                float: left;
                padding: 3px 6px;
                margin-right: 0px;
                background-color: #a27856;
            }
            .green {
                background-color: #89a348;
            }
            .gray {
                background-color: #888888;
            }
            .yellow {
                background-color: #e68d00;
            }
            .red {
                background-color: #ce3638;
            }
            .black {
                background-color: #000;
            }
        }
        table {
            padding: 5px;
            border: 1px solid #a27856;
            border-collapse: collapse;
            tbody {
                tr {
                    border-bottom: 1px solid #555;
                    td {
                        color: #222222;
                        background-color: #ffffff;
                        padding: 2px 5px;
                        text-align: center;
                        border-right: 1px solid #a27856;
                    }
                    &.first td {
                        background-color: #fff8ec;
                        color: #573620;
                    }
                }
            }
        }
        img {
            width: 100%;
        }
        
    }
    
    .class-title {
        margin: 15px 0px;
        margin-left: 10px;
        margin-top: 15px;        
        padding: 10px 15px;
        color:#777;
        font-size: 18px;
        line-height: 40px;
        letter-spacing: 1px;
        background-color: rgba(70%,70%,70%,0.3);
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        text-shadow: 1px 2px 0px #FFF,
                     2px 2px 2px #FFF;
    }
    
    #docs {
        margin-top: 10px;
        background-color: #fff;
        padding-top: 30px;
        padding-bottom: 30px;
        //border: 1px solid #cfae96;
        .area {
            margin-bottom: 20px;
            margin-left: 50px;
        }
        .topic {
            width: 180px;
            height: auto;
            overflow: hidden;
            padding: 15px 15px;
            font-size: 24px;
            color: #fff;
            margin-bottom: 5px;
            text-align: center;
        }
        .title {
            width: 570px;
            height: auto;
            overflow: hidden;
            padding: 5px 15px;
        }
        .title a {
            font-size: 15px;
            color: #fff;
        }
        .promote {
            width: 538px;
            height: auto;
            overflow: hidden;
            padding: 5px 30px;
            font-size: 14px;
            color: #333;

        }
        .hr-bottom {
            width: 600px;
            height: 1px;
            margin-bottom: 10px;
        }
        .pink {
            background-color: #e68c95;
        }
        .blue {
            background-color: #73c6bf;
        }
        .pink-promote {
            border: 1px solid #e68c95;
        }
        .blue-promote {
            border: 1px solid #73c6bf;
        }
        .pink-topic {
            border: 1px solid #e68c95;
            color: #e68c95;
        }
        .blue-topic {
            border: 1px solid #73c6bf;
            color: #73c6bf;
        }
    }
    
    .freetalk {
        max-width: 100%;
        table {
            width: 100%;
        }
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
    
    .Marquee {
        height: 45px;
        background-color: rgba(80%, 80%, 80%, 0.1);
        overflow: hidden;
        font-size:60%;
        .Marquee-item {
            margin: 5px;
            padding-left: 20px;
            // padding-top: 5px;
            // padding-bottom: 5px;
            height:40px;
            color: #fff;
            font-size: 15px;
            line-height:35px;
            a{
                font-weight: bolder;
                color:#d9534f;
                //text-shadow:0px 0px 15px rgba(217, 83, 79, 0.5);
            }
        }
    }
    
    .hotmews {
        font-size:10px;
        margin-right: 10px;
        padding-top: 5px;
    }
    
    #finish {
        width: 100%;
        .white {
            width: 100%;
            margin-top: 15px;
        }
        .topic {
            width: 100%;
            height: auto;
            overflow: hidden;
            padding: 5px 0px;
            background-color: #7e604a;
            color: #fff;
            text-align: center;
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
        }
        .area {
            width: 100%;
            height: auto;
            overflow: hidden;
            background-color: #fff;
            color: #573620;
        }
        .item {
            margin-top: 1px;
            padding: 5px 0px;
            border-left: 1px solid #ccc;
            border-right: 1px solid #ccc;
        }
        .item input {
            width: 30px;
        }
        .item .vr {
            border-left: 1px solid #ccc;
        }
        .item td {
            text-align: left;
            padding-left: 30px;
        }
        /* FONT */
        .txtOs {
            font-size: 14px;
            font-family: "Segoe UI";
            color: #ea8103;
            font-weight: bold;
        }
        .txtOm {
            font-size: 16px;
            font-family: "Segoe UI";
            color: #ea8103;
            font-weight: bold;
        }
        table {
            max-width: 100%;
        }
    }
    
    #cntR {
        max-width: 100%;
        table {
            max-width: 100%;
        }
        .white {
            max-width: 100%;
            margin-top: 15px;
        }
        .topic {
            max-width: 100%;
            height: auto;
            overflow: hidden;
            padding: 5px 0px;
            background-color: #7e604a;
            color: #fff;
            text-align: center;
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
        }
        .area {
            max-width: 100%;
            height: auto;
            overflow: hidden;
            background-color: #fff;
            color: #573620;
        }
        .title {
            margin-top: 0px;
            padding: 3px 0px;
            border-left: 1px solid #ccc;
            border-right: 1px solid #ccc;
        }
        .title table td {
            text-align: center;
        }
        .item {
            margin-top: 1px;
            padding: 10px 0px;
            border-left: 1px solid #ccc;
            border-right: 1px solid #ccc;
        }
        .item input {
            width: 30px;
        }
        .item .vr {
            border-left: 1px solid #ccc;
        }
        .item td {
            text-align: center;
        }
        .tail {
            margin-top: 1px;
            padding: 10px 0px;
            border-left: 1px solid #ccc;
            border-right: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
        }
        /* FONT */
        .txtOs {
            font-size: 14px;
            font-family: "Segoe UI";
            color: #ea8103;
            font-weight: bold;
        }
        .txtOm {
            font-size: 16px;
            font-family: "Segoe UI";
            color: #ea8103;
            font-weight: bold;
        }
    }
    
    #customerR {
        max-width: 100%;
        .white {
           max-width: 100%;
            margin-top: 15px;
        }
         .topic {
            max-width: 100%;
            height: auto;
            overflow: hidden;
            padding: 5px 0px;
            background-color: #7e604a;
            color: #fff;
            text-align: center;
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
        }
         .area {
            max-width: 100%;
            height: auto;
            overflow: hidden;
            background-color: #fff;
            color: #573620;
        }
         .title {
            margin-top: 0px;
            padding: 5px 0px;
            border-left: 1px solid #ccc;
            border-right: 1px solid #ccc;
            border-top: 1px solid #573620;
        }
         .title table td {
            text-align: left;
            padding-left: 20px;
            font-size: 13px;
            font-weight: bold;
        }
         .item {
            margin-top: 1px;
            padding: 5px 0px;
            border-left: 1px solid #ccc;
            border-right: 1px solid #ccc;
        }
         .item input {
            width: 30px;
        }
         .item .vr {
            border-left: 1px solid #ccc;
        }
         .item td {
            text-align: left;
            padding-left: 30px;
        }
         .tail {
            margin-top: 1px;
            padding: 10px 0px;
            border-left: 1px solid #ccc;
            border-right: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
        }
        /* FONT */
         .txtOs {
            font-size: 14px;
            font-family: "Segoe UI";
            color: #ea8103;
            font-weight: bold;
        }
         .txtOm {
            font-size: 16px;
            font-family: "Segoe UI";
            color: #ea8103;
            font-weight: bold;
        }
    }
.webTerms{
    height:300px;
    overflow:auto;
}


.btnline{
    position: relative;
    .btnopen{
            color:#AAA;
            text-align: center;
            background: #fff;
            position: absolute;
            z-index: 1;
            left:48%;
            top:-15px;
            line-height: 30px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border-top: 5px solid #EfEfEf;
            border-bottom:none;
            transition:all 500ms;
    }
    .click{
            color:#ccc;
            transform: rotate(3.14159rad);
            border-top:none;
            border-bottom: 5px solid #EfEfEf;
    }
}