.upleft {
    position: absolute;
    left: 0;
    height: auto;
    width: 40px;
    color: rgba(217, 83, 79, 0.5);
    font-size: 24px;
    text-align: center;
    //background-color: rgba(20%, 20%, 20%, 0.2);
    z-index: 0;
    span{
        margin-top: 20px;
        text-shadow:1px 2px 5px #fff;
    }
}

.nextright {
    position: absolute;
    right: 0;
    height: auto;
    width: 40px;
    color: rgba(217, 83, 79, 0.5);
    font-size: 24px;
    text-align: center;
   // background-color: rgba(20%, 20%, 20%, 0.2);
    z-index: 0;
    span{
        margin-top: 20px;
        text-shadow:1px 2px 5px #fff;
    }
}

#ad {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
    img {
        width: 130%;
        margin-left: -30%;
        max-height: 168px
    }
    ul#ad_change {
        background:linear-gradient(to right, #b41c2b, #aa0037);
        list-style: none;
        padding: 0;
        margin: 0;
        // min-height: 129px;
        li {
            display: none;
            overflow: hidden;
            position: absolute;
            &:nth-child(1) {
                display: block;
            }
        }
    }
}

#product_booka {
    overflow: hidden;
    #product_book {
        .product_b {
            width: 380px;
            height: 250px;
            float: left;
            padding: 10px;
            .product_b_img {
                margin: auto;
                float: left;
                width: 40%;
                img {
                    width: 100%;
                }
            }
            .product_b_text {
                font-size: 80%;
                width: 60%;
                float: left;
                .product_b_title {
                    font-size: 20px;
                    a{
                        font-size: 150%;
                        font-weight: 900;
                    }
                }
            }
            .product_b_content {
                margin-bottom: 20px;
                padding-right: 20px;
                margin-right: 5px
            }
            .float {
                float: left;
            }
            .product_b_price {
                .price-list {
                    font-style: italic;
                    font-size: 90%;
                    p{
                        height:5px
                    }
                }
                .price-offer {
                    clear: both;
                    margin-right: 10px;
                    font-size:200%;
                    font-weight: 900;
                    color: #E00;
                    small>tt>kbd{
                        padding:0px;
                        background-color: none;
                        code{
                            border: 1px solid #e1e1e8;
                        }
                    }
                }
                .product_more_b {
                    border: 1px solid #c3c3c3;
                    border-radius: 5px;
                    background: linear-gradient(to bottom,rgb(251, 251, 251),rgb(232, 232, 232));
                    color: #F00;
                    padding: 5px;
                    float: left;
                    margin-left: 10px;
                    p {
                        margin: 0;
                        padding: 1px
                    }
                    a {
                        color: #E00;
                    }
                    &:active{
                        box-shadow: inset 0px 1px 5px #aaa;
                    }
                }
            }
        }
    }
}
#product_classa {
    width: 100%;
    overflow: hidden;
    .product_l {
        width: 380px;
        height: 410px;
        float: left;
        background: url(http://www.magee.tw/imagesa/product_border.png);
        background-size: 100% 102%;
        // border: 1px solid #CCC;
        padding: 10px;
        box-shadow: inset 0px 2px 5px #ccc;
        .product_c_img {
            text-align: center;
        }
        .product_c_title {
            font-size: 20px;
            padding-left: 20px;
            width: 75%;
            float: left;
            font-weight: bolder;
        }
        .product_c_more {
            float: left;
            border: 1px solid #c3c3c3;
            border-radius: 5px;
            background: linear-gradient(to bottom,rgb(251, 251, 251),rgb(232, 232, 232));
            padding: 5px;
            p{margin:0px}
            &:active{
                        box-shadow: inset 0px 1px 5px #aaa;
                    }
        }
        .product_c_content {
            clear: both;
            padding: 15px;
            p{
                margin-right:20px;
            }
        }
    }
}
