.pro-header{
	//margin: 0px 10px;
	padding-top:0px;
	margin-top:20px;
	margin-bottom:10px;
	border-bottom: 2px solid #eee;
}
.border-full-brown{
	margin: 0px;
	border:1px dashed #ddd;;
}
.information-content{
	overflow:auto;
	img{
		//width:100%;
	}
	// table{
	// 	max-width:100%;
	// }
}
