
.pro-class {
    .list-group-item {
        &:nth-child(odd) {
            background-color: rgba(239, 239, 239, 0.5);
        }
        &:active,
        &:hover {
            background-color: #fffafa;
        }
        margin: 0;
        padding: 10px 0;
        .checkbox-star {
            width: 10%;
            height: 100%;
            padding-top: 35px;
            >.icon {
                margin: auto;
                width: 20px;
                height: 20px;
            }
        }
        .image-box {
            padding-left: 10px;
            padding-right: 10px;
            width: 20%;
            height: 100%;
        }
        .pro-title {
            padding-left: 10px;
            padding-right: 5px;
            width: 60%;
            .pro-title-header{
            padding-top: 3%;
            padding-bottom: 5%;
            margin-bottom: 0px;
            color:#333;
            font-weight: 900;
                span{
                    font-weight: normal;   
                }
            }
            .pro-price{
                margin-bottom:0;
            
            }
        }
        .now-buy {
            width: 10%;
            padding-top:20px;
            padding-right:10px;
            .now-buy-btn{
            	margin:auto;
            	border:0;
            	background-color:#ad0834;
            	color:#FFF;
            	padding-left:5px;
            	padding-right:5px;
            }
        }
        .pro-content {
            margin-top: 18%;
            border-top: 2px dashed #ddd;
            background:#FFF;
            padding-bottom: 10px;
            padding-top:10px;
        }
        .pro-space {
            width: 10%;
            height: 10px;
        }
        .pro-left {
            width: 100%;
            padding-top: 10px;
            padding-right: 10px;
        }
        .pro-btn-list{
            margin-right:5px;
            margin-top:5px;
            margin-bottom: 10px
        }
        .pro-list-item{
            margin-bottom:5px;
        }
        .pro-right {
            padding-left: 20px;
            padding-top: 10px;
            width: 100%;
            padding-right: 10px;
            ol {
                padding-left: 20px;
                margin-left: 0;
                padding-right: 10px;
                list-style-type: none;
                li {
                    counter-increment: step-counter;
                    padding: 5px 0px;
                    text-indent: -1.5em;
                    &::before {
                        content: counter(step-counter);
                        margin-right: 5px;
                        font-size: 2px;
                        background-color: #6D6D6D;
                        color: white;
                        font-weight: bold;
                        padding: 1px 5px;
                        border-radius: 50px;
                    }
                }
            }
        }
    }
}
