$headerheight:40px;
$footerheight:30px;

$fa-font-path:"../bower_components/font-awesome/fonts/";
@import "../bower_components/font-awesome/scss/font-awesome.scss";
@import "_content";
@import "_pro_list";
@import "_Doc";
@import "_includead";
@import "_pro_information";
@for $i from 1 through 10 {
    .w-#{$i} {
        width: 10% * $i;
    }
    .h-#{$i}-pa {
        height: 10% *$i;
    }
}

@for $i from 1 through 20 {
    .h-#{$i} {
        min-height: 10px * $i;
    }
    .h-fix-#{$i} {
        height: 50px * $i;
    }
    .marg-b-#{$i} {
        margin-bottom: 10px*$i
    }
    ;
    .marg-l-#{$i} {
        margin-left: 10px*$i
    }
    ;
    .marg-r-#{$i} {
        margin-right: 10px*$i
    }
    ;
    .marg-t-#{$i} {
        margin-top: 10px*$i
    };
    .pad-b-#{$i} {
        padding-bottom: 10px*$i
    }
    ;
    .pad-l-#{$i} {
        padding-left: 10px*$i
    }
    ;
    .pad-r-#{$i} {
        padding-right: 10px*$i
    }
    ;
    .pad-t-#{$i} {
        padding-top: 10px*$i
    };
}

.icon {
    background-size: 100% 100%;
    background-repeat: none;
}

.circle-news {
    background-image: url('../images/index_icon_01.png');
}

.circle-news:hover,
.circle-news:focus {
    background-image: url('../images/index_icon_01_r.png');
}

.circle-class {
    background-image: url('../images/index_icon_02.png');
}

.circle-class:hover,
.circle-class:active {
    background-image: url('../images/index_icon_02_r.png');
}

.circle-book {
    background-image: url('../images/index_icon_03.png');
}

.circle-book:hover,
.circle-book:active {
    background-image: url('../images/index_icon_03_r.png');
}

.circle-online {
    background-image: url('../images/index_icon_01.png');
}

.circle-online:hover,
.circle-online:active {
    background-image: url('../images/index_icon_01_r.png');
}

.circle-other {
    background-image: url('../images/index_icon_02.png');
}

.circle-other:hover,
.circle-other:active {
    background-image: url('../images/index_icon_02_r.png');
}

.fb {
    background-image: url('../images/fixed_icon_fb_1.png');
}

.goindex {
    background-image: url("../images/goindex.png");
}

.fb:active,
.fb:hover {
    background-image: url('../images/fixed_icon_fb_2.png');
}

.star {
    background-image: url('../images/fixed_icon_star_1.png');
}

.star:active,
.star:hover {
    background-image: url('../images/fixed_icon_star_2.png');
}

.shopcart {
    background-image: url('../images/fixed_icon_shop_1.png');
}

.shopcart:active,
.shopcart:hover {
    background-image: url('../images/fixed_icon_shop_1.png');
}

.email {
    background-image: url('../images/fixed_icon_mail_1.png');
}

.email:active,
.email:hover {
    background-image: url('../images/fixed_icon_mail_2.png');
}

.favicon {
    background-image: url('../images/fav_icon_star.png');
    background-repeat: no-repeat;
    &.active {
        background-image: url('../img/fav_icon_star_r.png');
        background-repeat: no-repeat;
    }
}

input,
select,
textarea {
    background: #fff;
}

.icon-sm {
    width: 50px;
    height: 50px;
}

body,
html {
    font-family: Microsoft JhengHei;
}
a{
    color: #d9534f;
    text-decoration: none;
    font-weight: bolder;
    &:active,&:focus{
        color:#aa0137;
        text-decoration: underline;
    }
}
.clearfix {
    clear: both;
}

blockquote {
    padding:0px;
    padding-top: 20px;
    padding-left: 25px;
    margin-bottom: 0px;
    border: none;
    box-shadow: 0px 2px 5px #ccc;
    font{
            padding: 2% 18px;
            color:#777;
            line-height:37px; 
            letter-spacing: 2px;
            background-color: rgba(70%,70%,70%,0.3);
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            text-shadow: 1px 2px 0px #FFF,
                         2px 2px 2px #FFF;
            //border-bottom: 2px solid #d9534f;
    }

}
.blueh3>h3{
        color:#337ab7;
}

.text-org {
    margin-top: 10px;
    color: #ea8103;
    margin-bottom: 20px;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.label-no-right {
    margin-right: 0;
}

.label-newstext {
    margin-right: 10px;
    margin-bottom: 5px;
    background-color: rgba(217, 83, 79, 0.6);
}
.header {
    position: fixed;
    z-index: 10;
    margin: 0px;
    background-image: url('../images/logo.png'), linear-gradient(to right, rgba(180, 28, 43, 1), rgba(170, 0, 55, 1));
    background-size: auto 100%;
    height: $headerheight;
    background-repeat: no-repeat;
    background-position: 50% 30%;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
    border: none;
    .menu {
        font-size: 25px;
        // padding-top:30px;
        color: #fff;
        // background:rgba(10%,10%,10%,1);
        width: 10%;
        text-align: center;
        height: 100%;
        .menu-btn {
            padding: 0;
            margin: 0;
            width: 40px;
            height: 100%;
            background: rgba(100%, 100%, 100%, 0);
            border: 0px;
            &.active {
                background-color: #000;
            }
        }
        span {
            text-shadow: 2px 2px #000;
        }
    }
    .header-s-menu-box {
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 100;
       
        .header-s-menu {
            background-color: #343535;
            width: 150px;
            position: absolute;
            z-index: 10;
            font-size: 16px;
            box-shadow: 3px 0px 3px rgba(0, 0, 0, 0.5);
            .menu-list {
                padding-top: 20px;
                padding-bottom: 65px;
                >li {
                    padding-top: 10px;
                    padding-right: 15px;
                    padding-left: 15px;
                    padding-bottom: 15px;
                    border-bottom: 1px solid rgba(191, 190, 190, 0.2);
                    a {
                        color: #fff;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    .fixed-menu {
        background-color: rgba(40%, 40%, 40%, 0.8);
        color: #fff;
        position: absolute;
        z-index: 10;
        ul {
            margin: 0;
            padding: 0;
            li {
                padding: 10px;
                margin-left: 5px;
                &:hover {
                    background: linear-gradient(to right, rgba(180, 28, 43, 1), rgba(170, 0, 55, 1));
                }
            }
        }
        a {
            color: #fff;
            text-decoration: none;
        }
    }
}

.footer {
    position: fixed;
    bottom: 0;
    background: rgba(239, 239, 239, 1);
    z-index:10;
    ul {
        margin: 0;
        padding: 0;
        li {
            margin: 0;
            padding: 0;
            width: 20%;
            margin-left: 1%;
            padding: 5px;
            padding-top: 10px;
            
            a {
                height: 45px;
                div {
                    margin: auto;
                    width: 25px;
                    height: 25px;
                }
                div.goindex{
                    width: 40px;
                    height: 40px;
                }
                div.shopcart{
                    width: 40px;
                    height: 40px;
                }
            }
            &:hover,
            &:active {
                background: #fff;
            }
        }
        li:first-child,
        li:nth-child(3){
                margin: 0;
                padding: 0;
        }

    }
}

.incartshow {
    display: none;
    position: fixed;
    bottom: 100px;
}

.buylistshow {
    transition: transform 0.5s;
    &.active {
        transform: rotate(-90deg);
    }
}

.copyright {
    color: #f7f7f7;
    font-weight: bolder;
    padding: 10px;
    font-size: 10px;
    background: linear-gradient(to right, RGBA(180,28,43,0.7), RGBA(170,0,55,0.7));
    //background-image: url("http://www.magee.tw/imagesa/copyright.png");
    padding-bottom: $footerheight+10;
    p:first-child{
        color: #d7849d;
        line-height: 10px;
    }
}
.goTop-0{
    background-color:rgba(25%,25%,25%,0.6);
    position:fixed;
    bottom:10%;
    right:8%;
    font-size:12px;
    padding:5px 12px 5px 10px;
    border-radius:5px;
    color:#FFF;
    z-index:999;
}

hr.ng-scope{
    margin: 0px
}

.breadcrumb{
    background-color: #fceeee;
    margin-bottom: 0px
}
