$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "font-awesome/scss/font-awesome.scss";
// endbower
html,body{
  width:100%;
  height:100%;
  padding:0;
  margin:0;
  background-color:#E5E5E5;
}
.index-web-box{
  height:100%;
  background:#FFF;
  box-shadow: 0px 0px 11px 4px #888888
}
.topBanner{
  margin-top:20px;
  padding-top:20px;
  background-image:url(../images/UI_BannerLoginIn.png);
  background-repeat: no-repeat;
  background-size: 100%;

 
}