<div class="colorbox gray">
    <div class="w-10-pa">
        <div class="colorbox red pad-t-1 pad-b-1 text-center font-s-14 marg-t-1">{{gcc.exam_news}}</div>
    </div>
    <div class="w-10-pa">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 col-md-12">
                    <div ng-include src="gcc.course_news" include-replace></div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="container">
        <div class="row nomarg pad-t-1">
            <div class="col-md-8 col-md-offset-2">
                <ul class="nav nav-tabs goods-group">
                    <li class="{{(gcc.class=='')?'active':''}}" ng-click='gcc.goto("")'>
                        <a>全部</a>
                    </li>
                    <li role="presentation" class="{{(gcc.class==class.id)?'active':''}}" ng-repeat="class in gcc.course_class" ng-click='gcc.goto(class.id)'>
                        <a>{{class.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div> -->
    <div class="w-10-pa" ng-repeat="CT in gcc.course_class">
        <div class="colorbox  pad-t-2 pad-b-2 text-center imgback" style="background-image:url({{CT.color}});">
            <h4 class="font-s-18" id="{{CT.id}}">導遊領隊　<font class="font-s-28">{{CT.name}}</font></h4>
        </div>
        <div class="container">
            <div class="row">
                <!-- ========================================================= -->
                <div class="col-md-12 col-lg-10 col-lg-offset-1" ng-repeat="course in CT.WebClassPro">
                    <ul class="media-list goods-list">
                        <li class="media">
                            <div class="media-left class-img z-index-0">
                                <img ng-src="{{course.bimage}}" alt="" class="img-thumbnail">
                                <div class="z-index-1 goods-tag" ng-if="(course.onsite)"><img src="images/goods-tag.png" alt=""></div>
                            </div>
                            <div class="media-body pad-t-1">
                                <div class="media-left">
                                    <p class="w-3 small-title">課程名稱</p>
                                </div>
                                <div class="media-body class-text">
                                    <h3 class="media-heading pad-b-1">{{course.name}}</h3>
                                    <div class="w-10-pa" ng-bind-html="course.context | trantextarea">
                                    </div>
                                </div>
                                <div class="media-left">
                                    <p class="w-3 small-title" style="color:#a00000;font-weight: bolder;">方案比較</p>
                                </div>
                                <div class="media-body">
                                    <div class="list-group w-10-pa pricegroup">
                                        <a ui-sref='goodsmore({proid:case.id,caseid:course.id})' href="#" ng-repeat="case in course.product" class="list-group-item" backtotop>{{case.name}}<span class="pull-right caseprice">{{case.price | currency:"$":0}}</span></a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- ========================================================= -->
            </div>
        </div>
        <div class="colorbox red z-index-0" ng-if="gcc.ad&&($index>0&&$index%3==0)">
            <div class="container pad-1 ">
                <a href="gcc.ad.url">
                    <img src="gcc.ad.image" class='w-10-pa h-20 ' alt="">
                </a>
            </div>
        </div>
        <!--  -->
    </div>
</div>
