<div class="colorbox gray">
<!--     <div class="container">
        <div class="row nomarg pad-t-1">
            <div class="col-md-8 col-md-offset-2">
                <ul class="nav nav-tabs goods-group">
                    <li class="{{(gbc.class=='')?'active':''}}" ng-click='gbc.goto("")'>
                        <a>全部</a>
                    </li>
                    <li role="presentation" class="{{(gbc.class==class.id)?'active':''}}" ng-repeat="class in gbc.course_class" ng-click='gbc.goto(class.id)'>
                        <a>{{class.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div> -->
    <div class="w-10-pa" ng-repeat="CT in gbc.course_class">
        <div class="colorbox deepred pad-t-2 pad-b-2 text-center imgback " style="background-image:url({{CT.color}});">
            <h4 class=" font-s-24" id="{{CT.id}}">{{CT.name}}</h4>
        </div>
        <div class="container">
            <div class="row">
                <!-- ============================================================================ -->
                <div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2" ng-repeat="proBook in CT.product">
                    <ul class="media-list goods-list">
                        <li class="media">
                            <div class="media-left book-img">
                                <img ng-src="{{proBook.image}}" alt="" class="img-thumbnail">
                            </div>
                            <div class="media-body class-text">
                                <h3 class="media-heading pad-b-1">{{proBook.name}}</h3>
                                <div class="w-10-pa" ng-bind-html="proBook.prolistcontext | trantextarea">
                                </div>
                            </div>
                            <div class="media-right book-price w-2-pa">
                                <h5>商品售價</h5>
                                <p>{{proBook.price | currency:"NT$":0}}</p>
                                <button class="btn btn-info" ui-sref='goodsmore({proid:proBook.id,caseid:0})' backtotop>更多詳情</button>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- ====================================================================== -->
            </div>
        </div>
    </div>
<div class="colorbox gray z-index-0" ng-if="gbc.ad">
    <div class="container pad-1">
      <a href="gbc.ad.url">
        <img src="gbc.ad.image" class='w-10-pa h-20 ' alt="">
      </a>
        
    </div>
</div>
</div>
