<!--banner-->
<div class="container-fluid">
    <div class='w-10-pa'>
        <div class="menu-news col-lg-offset-2" >
            <div class="{{(main.wdth<751)? 'row':''}}">
                <div class="menu-left pull-left list-group">
                    <a href="{{news.url}}" class="list-group-item" ng-repeat="news in main.news" backtotop>{{news.name}}</a>
                </div>
            </div>
        </div>
        <div uib-carousel active="active" interval="main.Interval" no-wrap="false">
            <div uib-slide ng-repeat="banner in main.banner" index="$index" style="background-color:{{banner.backcolor}};">
                <div class="item" style="min-height:450px; overflow:auto">
                    <a href="{{banner.url}}" backtotop>
                        <img ng-src="{{banner.image}}" style="margin:auto">
                    </a>
                    <div class="carousel-caption">
                        <!-- <h4>Slide {{banner.id}}</h4>
                    <p>{{banner.name}}</p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end banner-->
<div class="h-fix-2 text-center"><img src="images/shadowline.png" width="90%" style="max-width: 1200px;vertical-align:top" ></div>
<div class="z-index-0">
    <div class="pull-left z-index-1 prev col-sm-offset-1" ng-if="main.Active_content>0 && main.contentGroup.length>1">
        <a class="left carousel-control" ng-click="main.Active_content=main.Active_content-1" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        </a>
    </div>
    <div class="pull-left z-index-1 next col-sm-offset-10" ng-if="main.Active_content==0 && main.contentGroup.length>1">
        <a class="right carousel-control" ng-click="main.Active_content=main.Active_content+1" role="button" data-slide="next" lightshow>
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        </a>
    </div>
    <div class="row" ng-repeat="contentnumber in main.contentGroup" ng-if="main.Active_content==$index" >
        <div ng-class="{0: 'col-md-6 col-lg-4 col-lg-offset-2',1:'col-md-6 col-lg-4'}[$index]" class="pad-all-1" ng-repeat="content in contentnumber.content">
            <div class="colorbox lightred media pad-all-1" id="tag{{$index}}">
                <a class="media-left w-5-pa media-bottom text-center" href="{{content.url}}">
                    <img ng-src="{{content.image}}" class="img-thumbnail" style="border: none;background-color: transparent;border-radius: 0px;padding: 0; max-height:170px">
                </a>
                <div class="media-body h-20">
                    <a href="{{content.url}}"><h3 style="color:#b41d5e">{{content.name}}</h3></a>
                    <div ng-include="content.content"></div>
                </div>
                <div class="col-xs-12 text-right pad-b-1">
                    <a href="{{content.url}}" class="btn btn-sm btn-danger" backtotop>詳細介紹</a>
                </div>
            </div>
            <img src="images/shadowline.png" width="90%" style="position: absolute;top:-1">
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12 font-s-12 pad-t-5 pad-b-6">
            <ul class="list-inline text-center iconmenu icon-marg">
                <li>
                    <a ui-sref="news({group:'DG6'})" style="cursor: pointer;">
                        <div class="icon-news icon"></div>
                        最新消息</a>
                </li>
                <li>
                    <a ui-sref="class" style="cursor: pointer;">
                        <div class="icon-class icon"></div>
                        現場課程</a>
                </li>
                <li>
                    <a ui-sref="book" style="cursor: pointer;">
                        <div class="icon-book icon" ui-sref='book'></div>
                        考證書籍</a>
                </li>
                <li>
                    <a href="http://www.magee.tw/newonline/" style="cursor: pointer;">
                        <div class="icon-online icon"></div>
                        線上課程</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="colorbox gray z-index-0" ng-if="main.ad">
    <div class="container pad-1">
      <a href="main.ad.url">
        <img src="main.ad.image" class='w-10-pa h-20 ' alt="">
      </a>
        <!-- <div class="col-sm-10 col-sm-offset-1">
            <div class="text pull-left cm">
                <h3 class="text-hit">馬跡 “超強師資”</h3>
                <p class="text-hit">連續5年全國榜首 ‧ 高錄取率保證</p>
                <p>領隊+導遊實務一、二、觀資三科 保證馬跡師資團隊 親授
                    <br> 領隊+導遊實務一、二、觀資三科
                    <br> 保證馬跡師資團隊 親授</p>
                <botton class="btn btn-default">立即了解</botton>
            </div>
            <div class="pull-right"><img src="images/cw-normal.png"></div>
        </div> -->
    </div>
</div>
<div class="colorbox deepred imgback">
    <div class="container">
        <div class="col-sm-12 text-center pad-b-2 pad-t-5">
            <p class="font-s-24">__　 考試相關資訊 　__</p>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4 " ng-repeat="Webfunclist in main.WebFunclist">
                <div class="thumbnail pad-t-1">
                    <!-- <img src="http://www.magee.tw/newErp/data/../data/WebFunclist/c35c880ecbe499f4f787b425b501bc83.png"> -->
                    <img src="{{Webfunclist.image}}" alt="..." class="w-20">
                    <div class="caption h-20" >
                        <h3 class="marg-t-1">{{Webfunclist.name}}</h3>
                        <p class="pad-l-1 pad-r-1 line-h-22" style="letter-spacing: 1px">{{Webfunclist.content}}</p>
                    </div>
                    <div class="text-right h-5">
                        <a href="{{Webfunclist.url}}" class="btn btn-primary" role="button">Enter</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
