<div class="colorbox red ">
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="modal-header">
                <h3 class="modal-title">會員註冊</h3>
            </div>
        </div>
    </div>
</div>
<div class="colorbox red pad-t-1">
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2">
            <form class="form-horizontal" name="joinmember" role="form">
                <div class="form-group  {{(joinmember.$error.email)?'has-error':''}}">
                    <label class="col-sm-2 control-label">帳號(Email)</label>
                    <div class="col-sm-10 nopadding-l">
                        <input type="email" class="form-control" name='sgin_account' placeholder="帳號(請輸入常用的電子郵件, ex.a123@gmail.com)" ng-model="mbc.member.member_id" required>
                        <small class="text-muted">(請輸入常用的電子郵件, ex.a123@gmail.com)</small>
                        <small class="text-danger" ng-show="joinmember.$error.email">電子郵件格式錯誤</small>
                    </div>
                </div>
                <div class="form-group {{(mbc.member.member_pw.length<6 && mbc.member.member_pw)?'has-error':''}}">
                    <label class="col-sm-2 control-label">密碼</label>
                    <div class="col-sm-10 nopadding-l">
                        <input type="password" class="form-control" name='sgin_password' placeholder="密碼" ng-model="mbc.member.member_pw">
                        <small class="text-muted">(輸入6-12碼)</small>
                    </div>
                </div>
                <div class="form-group {{(mbc.member.member_pw!=checkpw && mbc.member.member_pw)?'has-error':''}}">
                    <label class="col-sm-2 control-label">再輸入一次密碼</label>
                    <div class="col-sm-10 nopadding-l">
                        <input type="password" ng-model="checkpw" class="form-control " name='sgin_chpassword' placeholder="再輸入一次密碼">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="colorbox  pad-t-1">
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-sm-2 control-label">姓名</label>
                    <div class="col-sm-10 nopadding-l">
                        <input type="text" class="form-control" name='sgin_name' placeholder="姓名" ng-model="mbc.member.member_name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">聯絡電話</label>
                    <div class="col-sm-10 nopadding-l">
                        <input type="text" class="form-control" name='sgin_phone_no' placeholder="聯絡電話" ng-model="mbc.member.phone">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">行動電話</label>
                    <div class="col-sm-10 nopadding-l">
                        <input type="text" class="form-control" name='sgin_mobile_no' placeholder="行動電話(ex.09xxxxxxxx)" ng-model="mbc.member.cellphone">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">性別</label>
                    <div class="col-sm-2 nopadding-l">
                        <label class="control-label" ng-click="mbc.member.sex='男'">
                            <input type="radio" name="sgin_sexy" ng-checked="mbc.member.sex=='男'">男</label>
                        <label class="control-label" ng-click="mbc.member.sex='女'">
                            <input type="radio" name="sgin_sexy" ng-checked="mbc.member.sex=='女'">女</label>
                    </div>
                    <label class="col-sm-2 control-label">出生日期</label>
                    <div class="col-sm-6 nopadding-l form-inline">
                        <input type="number" class="form-control" name='sgin_date1' min="1911" max="2010" placeholder="出生年" ng-model="mbc.member.brithday.year">
                        <input type="number" class="form-control" ng-model="mbc.member.brithday.month" name="sgin_date2" min="1" max="12" placeholder="月份">
                        <input type="number" class="form-control" ng-model="mbc.member.brithday.day" name="sgin_date3" min="1" max="31" placeholder="日期">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">聯絡地址</label>
                    <div class="col-sm-10 nopadding-l">
                        <div class="col-sm-5 nopadding-l">
                            <select name="" class="form-control" ng-model="mbc.member.post_id">
                                <option value="">郵遞區號</option>
                                <option value="{{post.id}}" ng-repeat="post in mbc.post">{{post.id}} {{post.name}}</option>
                            </select>
                        </div>
                        <div class="col-sm-7 nopadding-l nopadding-r">
                            <input type="text" class="form-control" placeholder="地址" ng-model="mbc.member.add">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                </div>
                <div class="form-group">
                    <div class="col-xs-4 col-xs-offset-2">
                        <select name="" id="" class="form-control" ng-model="mbc.member.job">
                            <option value="">請選擇您的職業類別</option>
                             <option value="{{job.values}}" ng-repeat="job in mbc.job">{{job.name}}</option>
                        </select>
                    </div>
                    <label class="col-sm-2 control-label">職業</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" placeholder="職業" ng-model="mbc.member.Career">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-4 col-xs-offset-2">
                        <select name="" id="" class="form-control" ng-model="mbc.member.education">
                            <option value="">請選擇您最高的學歷</option>
                            <option value="{{education.values}}" ng-repeat="education in mbc.education">{{education.name}}</option>
                        </select>
                    </div>
                    <label class="col-sm-2 control-label">就讀科系</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" placeholder="就讀科系" ng-model="mbc.member.department">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12"></div>
                </div>
                <div class="checkbox">
                    <div class="col-sm-10 col-sm-offset-2">
                        <input type="checkbox" name="" ng-model="mbc.member.subnews">保持聯繫! 透過馬跡電子報，讓我隨時獲知 領隊/導遊 最新消息。
                    </div>
                </div>
                <div class="checkbox" ng-init="mbc.webTerms=false;">
                    <div class="col-sm-10 col-sm-offset-2 marg-b-1">
                        <input type="checkbox" name="" ng-click="mbc.agree=!mbc.agree" ng-checked="mbc.agree">我已閱讀並同意 <a ng-click="mbc.webTerms=!mbc.webTerms" style="cursor:pointer; border-bottom: 1px dashed #ddd">網站會員約定條款。</a>
                    </div>
                    <div class="col-sm-10 col-sm-offset-2" ng-show='mbc.webTerms'>
                        <div class="well well-lg colorbox white">
                            <p>馬跡中心網站會員同意條款：</p>
                            <p> 歡迎加入馬跡中心網站會員，馬跡中心網站會員服務（下稱會員服務）是由『馬跡中心股份有限公司』（下稱馬跡中心）所建置提供。</p>
                            ※請詳細閱讀約定條款，這些條款訂立的目的，是為了保護會員以及所有使用者的權益，並為會員服務提供依據，當您完成相關基本資料提供，開始使用會員服務時，即表示您已同意接受會員服務說明之所有內容。
                            <br/> ※會員約定條款如有任何修改，都會公告在馬跡中心網站中，建議您隨時注意此類訊息公告。如您於任何修改後繼續使用會員服務，表示您已同意接受修改後的會員約定條款。
                            <br/>
                            <p>壹、會員資料</p>
                            一、關於會員註冊
                            <br/>
                            <ol>
                                <li>您確認於註冊時提供個人資料均屬真實，如您個人資料誤填或有變更時，您將隨時更正或更新，如您未及時更新，表示您同意馬跡中心繼續依您原登錄資料提供各項服務。</li>
                                <li>若您登錄不實資料或破壞本網站服務宗旨，馬跡中心將有權暫停或終止您的會員資格，並拒絕您使用會員服務。</li>
                                <li>如果您發現或合理懷疑有第三人使用您的會員資料，您應該立即通知馬跡中心，馬跡中心將採取必要的防範措施，但上述通知不代表馬跡中心對會員負有任何形式之賠償或補償的責任。</li>
                            </ol>
                            二、會員帳號、密碼及安全
                            <br/>
                            <ol>
                                <li>註冊會員資料時，將以您的使用者帳號作為個人辨識碼，請您務必詳實填寫使用者帳號，不可重複登錄。</li>
                                <li>您應妥善保管帳號及密碼，並於每次使用後確實登出，以防他人盜用。利用此組帳號與密碼登入系統後所進行之一切活動，您將負完全的責任。請切勿將您的帳號與密碼洩露或提供予第三人知悉，以免因此遭人非法使用。</li>
                            </ol>
                            三、關於會員提供資訊 請您確認上載、傳送、輸入或提供至本網站的資料，都已合法取得授權使用(下稱授權使用，包含但不限修改、重製、公開播送、改作、散布、發行、公開發表等方式)。任何資料一經您上載、傳送、輸入或提供至本網站時，視為您已同意馬跡中心取得您的授權使用。您並應保證馬跡中心取得授權使用的內容，均無侵害任何第三人智慧財產權的情形，如果因此造成對馬跡中心的損失或損害，您承諾將對馬跡中心負賠償或補償責任。
                            <br/> 四、父母或監護人義務 若您是未滿二十歲的未成年人，則您必須在加入會員前，將此約定條款請您的父母或監護人閱讀，並得到您的父母或監護人同意，才可以註冊及使用馬跡中心網站所提供的會員服務。當您繼續使用馬跡中心網站所提供的服務時，則表示您的父母或監護人已經閱讀、了解、並同意此約定條款。
                            <br/> 五、資料記錄 當您使用馬跡中心網站時，在使用過程中所有的資料紀錄，均將保存於會員服務資料庫所記錄，您同意馬跡中心僅能於合理範圍內使用、分析；此外，如有任何糾紛，您同意以會員服務資料庫所記錄之電子資料為認定標準。 如您登錄資料或您的行為與上述「會員資料」內容不符或有違反，您同意並了解鼎鼎將依此約定條款揭示內容處理，且表示您將自行負擔所有不便及相關法律責任。
                            <br/>
                            <p>貳、會員服務</p>
                            一、個人資料保護 關於您的會員註冊以及其他個人資料，都將受到馬跡中心網站「隱私權聲明」的保護與規範。對於會員所登錄或留存之個人資料，馬跡中心都應予保護，但有下列情形時，不在此限：
                            <br/>
                            <ol>
                                <li>基於法律之規定、或受司法機關與其他有權機關基於法定程序之要求。 </li>
                                <li>在緊急情況下為維護其他會員或第三人之合法權益。</li>
                                <li>您的行為違反會員約定條款。</li>
                                <li>為維護會員服務系統的正常運作。 </li>
                                <li>您透過會員服務與商家購物、兌換贈品，因而產生的金流、物流必要資訊。</li>
                            </ol>
                            二、智慧財產權 馬跡中心所使用之軟體或程式、網站上所有內容，包括但不限於著作、圖片、檔案、資訊、資料、網站架構、網站畫面的安排、網頁設計，均由馬跡中心或其他權利人依法擁有其智慧財產權；請務必於取得馬跡中心及其他權利人書面同意後，才能使用前述資料。
                            <br/> 三、服務暫停與中斷 本系統或功能可能因『例行性』之維護、改置或變動發生服務暫停或中斷，馬跡中心將於該暫停或中斷前以電子郵件、公告或其他適當之方式告知會員。 馬跡中心將以合理之方式及技術，維護會員服務之正常運作。但如有下列任一情況，馬跡中心將逕行暫停或中斷會員服務之全部或一部，且對因此所造成任何不便或損害，均不負任何賠償或補償之責任：
                            <br/>
                            <ol>
                                <li>使用者有任何違反政府法令或本使用條款情形；</li>
                                <li>天災或其他不可抗力之因素所導致之服務停止或中斷；</li>
                                <li>非馬跡中心所得控制之事由而致會員服務資訊顯示不正確、或遭偽造、竄改、刪除或擷取、或致系統中斷或不能正常運作時；</li>
                                <li>對會員服務相關軟硬體設備進行搬遷、更換、升級、保養或維修時； </li>
                                <li>其他不可歸責於馬跡中心之事由所致之服務停止或中斷。</li>
                            </ol>
                            四、網站連結 為方便您自行蒐集或取得資訊，馬跡中心網站將提供非廣告連結，但此連結並不代表馬跡中心與此類連結網站管理者有任何合夥、僱傭或其他類似關係，且馬跡中心不對連結網站所提供產品、服務或資訊提供擔保或其他責任。
                            <br/> 五、會員服務管理
                            <br/>
                            <ol>
                                <li>如您有違反交易安全、馬跡中心服務辦法、馬跡中心會員網站會員約定條款或會員約定條款等情形時，馬跡中心會員基於維護交易安全之考量，將終止您的帳號或會員服務之使用，必要時並將您的會員註冊資料會員服務移除或刪除，您了解並同意馬跡中心會員將不對此種不當使用負擔賠償或補償責任。</li>
                                <li>馬跡中心可能因網站管理或其他因素，變更或終止部份或全部會員服務或活動，此類變更或終止均將貼示在馬跡中心網站相關網頁或以其他方式通知，建議您留意此類訊息。 </li>
                                <li>您可藉由網站服務通知馬跡中心變更會員服務內容或終止會員服務，請注意馬跡中心均將在您接獲電子郵件並回覆確認次日起，對您的會員服務進行變更或終止；在此提醒您，此類變更或終止，可能會使您失去部份或全部的會員優惠或權益，請您謹慎使用。</li>
                            </ol>
                            <p>參、準據法與管轄法院 </p>
                            <ol>
                                <li>本約定條款解釋、補充及適用均以中華民國法令為準據法。會員約定條款中任何條款之全部或一部份無效時，不影響其他約定之效力。</li>
                                <li>因本條款所發生之訴訟，以台灣台北地方法院為第一審管轄法院。</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="colorbox ">
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="modal-footer text-center">
                <button class='btn btn-primary' ng-click='mbc.sign()' ng-disabled="(mbc.member.member_pw!=checkpw || !mbc.member.member_pw || joinmember.$error.required || joinmember.$error.email)">註冊</button>
                <small class="text-danger" ng-if="(mbc.member.member_pw!=checkpw && mbc.member.member_pw)">密碼與確認密碼輸入不同</small>
                <button class='btn btn-danger' type='button' data-toggle="modal" data-target="#login">回登入頁</button>
            </div>
        </div>
    </div>
</div>
