<div class="colorbox hr-shadow ">
		<div class="container">
			<div class="row pad-t-1">
		        <ul class="list-inline text-center iconmenu nomarg border-all">
		          	<li ng-repeat="news in nlc.list_more">
		            <a ui-sref="news({group:news.values})"><div class="newlist circle font-s-14 pad-all-1 noline-h h-6 w-6 {{(nlc.list_group==news.values)?'red':'border'}}">
		            {{news.name}}</div>
		            </a></li>
		        </ul>
	      	</div>
	    </div>
</div>
<div class="colorbox gray hr-shadow in">
<div class="container">
	<div class="row pad-b-5 pad-t-2">
		<div class="col-sm-8 col-sm-offset-2">
		<div class="" >
		  <div class="font-s-16 pad-b-1 font-s-9 line-h-24">文章分類  <font color="#b41d5e"><span class="glyphicon glyphicon-chevron-right font-s-9 "></span> {{(nlc.list_more|filter:{values:nlc.list_group})[0].name}}</font></div>
		  	<div class="media list-group" ng-repeat="newslist in nlc.Docslist">
			  <a class="list-group-item border-red" ui-sref="newsdoc({listid:nlc.list_group,docid:newslist.id})" backtotop>
			  <div class="media-left" ng-if="!(newslist.img=='')">
		  		<div class="img-thumbnail"><img class=" w-8" ng-src="{{newslist.img}}"></div>
		  	  </div>
			  <div class="media-body">
				  <h3 class="media-heading">{{newslist.name}}</h3>
				  <p ng-bind-html="newslist.abstract | trantextarea"></p>
			  </div>
			  </a>
			</div>
		</div>
		</div>
	</div>
</div>
</div>