<ol class="breadcrumb">
    <li><a ui-sref='Base()'>首頁</a></li>
    <li>購物車</li>
</ol>
<div class="w-10">
    <ul class='list-inline shopcart-btn ' >
        <li class="{{(BPC.active==0)?'active':''}}" ng-click='BPC.active=0'>購物車</li>
        <li class="{{(BPC.active==1)?'active':''}}" ng-click='BPC.active=1'>訂購資料</li>
        <li class="{{(BPC.active==2)?'active':''}}" ng-click='BPC.active=2'>收件資料</li>
        <li class="{{(BPC.active==3)?'active':''}}" >訂單資訊確認</li>
    </ul>
</div>
<div class="col-xs-12" ng-switch="BPC.active">
	<div class="w-10" ng-switch-when='0'><div class="w-10" ng-include="'views/shopcart.html'" ></div></div>
	<div class="w-10" ng-switch-when='1'>  <div class="w-10" ng-include="'views/setinfor.html'"></div></div>
	<div class="w-10" ng-switch-when='2'> <div class="w-10" ng-include="'views/setinfor2.html'"></div></div>
	<div class="w-10" ng-switch-when='3'> <div class="w-10" ng-include="'views/finalpage.html'"></div></div>

</div>

