<ol class="breadcrumb">
    <li><a ui-sref='Base()'>首頁</a></li>
    <li><a ui-sref='Base.Docs()'>{{DC.data.classname}}</a></li>
    <li class="active">{{DC.data.docs_cname}}</li>
</ol>
<div class="docs-context w-10" id='docs' ng-bind-html="DC.data.content| tranIfa">

</div>
