<ol class="breadcrumb">
    <li><a ui-sref='Base()'>首頁</a></li>
    <li>領隊導遊須知</li>
</ol>
<div class="col-xs-12">
    <ul class='list-inline delist' >
        <li ng-repeat='dpt in DP.DPT'  ng-click='DP.goto(dpt.docs_dpt_id)'>
            <label class='label label-info'>{{dpt.docs_dpt_cname}}</label>
        </li>
    </ul>
</div>
<div class="w-10" ng-repeat='dpt in DP.DPT ' id='{{dpt.docs_dpt_id}}'>
    <div class="page-header docheader col-xs-12">
        <font>{{dpt.docs_dpt_cname}}</font>
    </div>
    <div class="main-context clearfix">
        <ul class="list-group news-list">
            <li class="list-group-item" ng-repeat='newstext in DP.Doclist |filter:{docs_dpt_id:dpt.docs_dpt_id}'>
                <div class="row">
                    <div class="col-xs-12">
                        <div class='pull-left pad-b-1'><label class='label label-primary label-newstext'>{{newstext.ClassName}}</label></div>
                        <div class='new-text pull-left '><a ui-sref='Base.DocsShow({Class:newstext.docs_dpt_id,id:newstext.pk})'>{{newstext.docs_cname}}</a></div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
