<div class="col-xs-12">
    <table class='table shop-list'>
        <caption class='text-center'>訂單明細</caption>
        <thead>
            <tr>
                <td width='20px;'></td>
                <td>商品名稱</td>
                <td width='40px'>數量</td>
                <td>價格</td>
                <td>小計</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="data in BPC.incart">
                <td>{{$index+1}}</td>
                <td>{{data.id_cname}}</td>
                <th width="30px" class='text-center'>
                    {{data.qty}}
                </th>
                <td><span class=' text-de'>{{data.price | currency:"$":0}}</span></td>
                <td><span class=' text-de'>{{data.price*data.qty | currency:"$":0}}</span></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5">
                    <div class="col-xs-5">
                        <span class='text-de'>{{BPC.delcname[BPC.radiodelivery]}}<br>(加收運費{{BPC.delivery | currency:"NT$":0 }})</span>
                    </div>
                    <div class="col-xs-7 text-right">
                        <div class="w-10">
                            商品數量 : <span class='text-de'>{{BPC.incart | totmoney:'count'}}</span>
                        </div>
                        <div class="w-10 ">
                            金額總計:
                            <span class='text-de'>{{BPC.incart | totmoney:'money' | currency:"NT$":0}}</span>
                        </div>
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
<div class="col-xs-12">
    <table class='w-10 table table-ordercolor shop-list '>
        <caption>訂購者資料
        </caption>
        <colgroup>
            <col width='100px'>
            <col>
        </colgroup>
        <tbody>
            <tr>
                <th>中文全名：</th>
                <td>
                    {{BPC.ordermember.name}}
                </td>
            </tr>
            <tr>
                <th>聯絡電話：</th>
                <td>
                    {{BPC.ordermember.phone_no}}
                </td>
            </tr>
            <tr>
                <th>手機：</th>
                <td>
                    {{BPC.ordermember.mobil_no}}
                </td>
            </tr>
            <tr>
                <th>Email：</th>
                <td>
                    {{BPC.ordermember.email}}
                </td>
            </tr>
            <tr>
                <th>地區：</th>
                <td>
                    <select ng-model='BPC.ordermember.post_id' ng-disabled="true" class='w-10'>
                        <option value="">請選擇地區</option>
                        <option value="{{post.post_id}}" ng-repeat='post in BPC.post_id'>{{post.post_id}}{{post.post_city}}{{post.post_area}}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>地址：</th>
                <td>
                    {{BPC.ordermember.address}}
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="col-xs-12">
    <table class='w-10 table table-ordercolor shop-list '>
        <caption>收件者資料
        </caption>
        <colgroup>
            <col width='100px'>
            <col>
        </colgroup>
        <tbody>
            <tr>
                <th>中文全名：</th>
                <td>
                    {{BPC.delivermember.name}}
                </td>
            </tr>
            <tr>
                <th>聯絡電話：</th>
                <td>
                    {{BPC.delivermember.phone_no}}
                </td>
            </tr>
            <tr>
                <th>手機：</th>
                <td>
                    {{BPC.delivermember.mobil_no}}
                </td>
            </tr>
            <tr>
                <th>Email：</th>
                <td>
                    {{BPC.delivermember.email}}
                </td>
            </tr>
            <tr>
                <th>地區：</th>
                <td>
                    <select ng-model='BPC.delivermember.post_id ' ng-disabled="true" class='w-10'>
                        <option value="">請選擇地區</option>
                        <option value="{{post.post_id}}" ng-repeat='post in BPC.post_id'>{{post.post_id}}{{post.post_city}}{{post.post_area}}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>地址：</th>
                <td>
                    {{BPC.delivermember.address}}
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="col-xs-12">
	<table class='w-10 table table-ordercolor shop-list'>
            <caption>統一編號 (選填，發票需打統編者，請填入下列欄位)
                
            </caption>
            <colgroup>
                <col width='100px'>
                <col>
            </colgroup>
            <tbody>
                <tr>
                    <th>統一編號：</th>
                    <td>
                        {{BPC.delivermember.inv_no}}
                    </td>
                </tr>
                <tr>
                    <th>統編抬頭：</th>
                    <td>
                        {{BPC.delivermember.inv_head}}
                    </td>
                </tr>
                <tr>
                    <th>地區：</th>
                    <td>
                        <select ng-model='BPC.delivermember.inv_post_id' ng-disabled="true"class='w-10'>
                            <option value="">請選擇地區</option>
                            <option value="{{post.post_id}}" ng-repeat='post in BPC.post_id'>{{post.post_id}}{{post.post_city}}{{post.post_area}}</option>
                            
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>地址：</th>
                    <td>
                        {{BPC.delivermember.inv_address}}
                    </td>
                </tr>
            </tbody>
        </table>
</div>
<div class="w-10">
	<table class='shop-list  table'>
		<caption>備註</caption>
		<tbody>
			<tr>
				<td>
					<textarea ng-model='BPC.delivermember.notes' class='form-control'></textarea>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="col-xs-12 text-center clearfix">
    <button type="button" class='btn btn-primary' ng-click='BPC.uppage()'><span class='glyphicon glyphicon-menu-left'></span>上一部</button>
    <button type="button" class='btn btn-primary' ng-click='BPC.submitorder()'><span class='glyphicon glyphicon-menu-right'></span>確定訂單</button>
</div>
