<ul class='list-inline w-10 text-center' style=" height: 40px">
    <li>
        <a ui-sref='Base'>
            <div class='icon goindex'></div>
        </a>
    </li>
    <li>
        
        <a href="https://www.facebook.com/mageecube/" >
            <div class='icon fb'></div>
        </a>
    </li>
    <li>
        <a href="" ui-sref='Base.buypro()' >
        	<div class='icon shopcart'></div>
        </a>
    </li>
    <li>
        <a href="mailto:magee@magee.tw" >
        	<div class='icon email'></div>
        </a>
    </li>
</ul>
