<div class="menu pull-left">
    <button type="button" class="menu-btn {{(header.active==true)?'active':''}}" ng-click="header.active=!header.active">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
    </button>
</div>
<div class="w-8 pull-left" style='height:100%;' ui-sref='Base()'>
</div>
<div class="w-10 clearfix">
    <div class="fixed-menu w-10" ng-if='header.topmenushow'>
        <ul class='list-inline'>
            <li ui-sref="Base.Docs"><a>最新消息</a></li>
            <li ui-sref="Base.ProClass"><a href="">現場課程</a></li>
            <li ui-sref="Base.ProBook"><a href="">考證書籍</a></li>
            <li ui-sref='Base.DocsShow({Class:"DOCS",id:40})'><a href="">免費試聽</a></li>
        </ul>
    </div>
    <div class="header-s-menu-box " ng-if='header.active' ng-click="header.active=!header.active">
        <div class='header-s-menu' >
            <ul class='list-unstyled text-left menu-list'>
                <li loginmember ng-if='!header.ka'><a href="">會員登入</a></li>
                <li ng-click='header.logout()' ng-if='header.ka'><a>會員登出</a></li>
                <li ui-sref='Base.Docs'><a href="">領隊導遊須知</a></li>
                <li ui-sref='Base.navcontent()'><a href="">專人諮詢</a></li>
                <li ui-sref='Base.DocsShow({Class:"DOCS",id:39})'><a href="">學員分享</a></li>
                <li> <a href="http://www.magee.tw/newonline/" target="_blank">線上教學</a></li>
            </ul>
        </div>
    </div>
</div>
