<div class='w-10 clearfix'>
    <div id='ad' class='clearfix'>
    </div>
</div>
<div class="w-10 index-menu clearfix">
    <ul class='list-inline text-center'>
        <li ui-sref="Base.Docs">
            <div class='circle-news icon'></div><a href="">最新消息</a></li>
        <li ui-sref="Base.ProClass">
            <div class='circle-class icon'></div><a href="">現場課程</a></li>
        <li ui-sref="Base.ProBook">
            <div class='circle-book icon'></div><a href="">考證書籍</a></li>
        <li ui-sref='Base.DocsShow({Class:"DOCS",id:40})'>
            <a href="">
                <div class='circle-online icon'></div>免費試聽
            </a>
        </li>
    </ul>
</div>
<div class="w-10" marquee mardata="main.Marquee"></div>
<div class="w-10 clearfix">
    <blockquote><!--<i class='fa fa-thermometer-three-quarters'></i>-->
        <font class='index-page-title'>
        限時優惠
    </font>
    </blockquote>
</div>
<div class="ckswipt clearfix" ng-swipe-right="main.leftlight('.product_b',main.swipe,'book','#product_booka')" ng-swipe-left="main.rightlight('.product_b',main.swipe,'book','#product_booka')">
    <div class="upleft" ng-show="main.swipe.book>0" ng-click="main.leftlight('.product_b',main.swipe,'book','#product_booka')">
        <span class='glyphicon glyphicon-chevron-left'>
    </span></div>
    <div class="nextright" ng-show="main.swipe.book<main.booklenght-1" ng-click="main.rightlight('.product_b',main.swipe,'book','#product_booka')">
        <span class='glyphicon glyphicon-chevron-right'></span>
    </div>
    <div id="product_booka" class='clearfix'></div>
</div>
<hr>
<div class="w-10 clearfix">
    <blockquote>
        <font class='index-page-title'>
        免費服務</font>
    </blockquote>
</div>
<div class="ckswipt clearfix" ng-swipe-right="main.leftlight('.product_l',main.swipe,'class','#product_classa')" ng-swipe-left="main.rightlight('.product_l',main.swipe,'class','#product_classa')">
    <div class="upleft" ng-show="main.swipe.class>0" ng-click="main.leftlight('.product_l',main.swipe,'class','#product_classa')">
        <span class='glyphicon glyphicon-chevron-left'></span>
    </div>
    <div class="nextright" ng-show="main.swipe.class < main.freeclass-1" ng-click="main.rightlight('.product_l',main.swipe,'class','#product_classa')">
        <span class='glyphicon glyphicon-chevron-right'></span>
    </div>
    <div id="product_classa" class='clearfix'></div>
</div>
<hr>
<div class="w-10 clearfix">
    <blockquote>
        <font class='index-page-title'>
        火熱消息</font>
    </blockquote>
</div>
<div class="main-context">
    <ul class="list-group news-list">
        <li class="list-group-item" ng-repeat='newstext in main.Marquee'>
            <div class="row">
                <div class="col-xs-3 ">
                    <label class='label label-danger label-lg'>火熱消息</label>
                </div>
                <div class="col-xs-8">
                    <span><a ng-href='{{newstext.url}}'>{{newstext.name}}</a></span>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="w-10 clearfix">
    <blockquote class="blueh3">
        <font class='index-page-title'>
        最新消息</font>
    </blockquote>
</div>
<news-box class="bluelink"></news-box>
