<div class="main-context">
    <ul class="list-group news-list">
        <li class="list-group-item" ng-repeat='newstext in NC.newstext'>
            <div class="row">
                <div class="col-xs-3 ">
                    <label class='label label-primary label-lg'>{{newstext.ClassName}}</label>
                </div>
                <div class="col-xs-8">
                    <span><a ui-sref='Base.DocsShow({Class:newstext.docs_dpt_id,id:newstext.pk})'>{{newstext.docs_cname}}</a></span>
                </div>
            </div>
        </li>
    </ul>
    <div class="w-10 clearfix text-right More">
        <div class="col-xs-12">
            <a ui-sref='Base.Docs({dtp:"D001"})'><button type="button" class="btn btn-default">More</button></a>
        </div>
    </div>
</div>

