<div id="finish">
    <div class='white'>
        <div class='topic'><img src='http://www.magee.tw/web/CartFinish/finish/cash.png' style="vertical-align:middle" /> 付款方式選擇</div>
        <div class='item area'>
            <table>
                <tr>
                    <td height="15"></td>
                    <tr>
                        <td>
                            <b>親愛的學員，感謝您購買本中心產品 / 課程</b>
                            <br /> 為加速您取得購買之產品，請選擇以下之繳款方式，並於3日內完款後與我們聯繫確認您的資料及座位，完成您的購買手續。
                            <br /> 服務專線：02-2733-8118 (上班時段/週一至週五10:00 - 18:00 歡迎來電諮詢)
                        </td>
                    </tr>
                    <tr>
                        <td height="20"></td>
                        <tr>
                            <td>
                                <table style="color:#0088cc;">
                                    <tr>
                                        <td width="100px">1. 銀行匯款:</td>
                                        <td>帳號：4801-027-027-88</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>銀行別： 臺北富邦銀行 和平分行 </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>戶名：馬跡庫比有限公司</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2"></td>
                                    </tr>
                                    <tr>
                                        <td width="100px">2. ATM轉帳: </td>
                                        <td> 帳號：4801-027-027-88</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td> 銀行代號：012</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2"></td>
                                    </tr>
                                    <tr>
                                        <td width="100px">3. 現場繳款: </td>
                                        <td> 請至馬跡中心(ADD：台北市大安區復興南路二段268號3樓之一)</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td height="20"></td>
                            <tr>
                                <td>
                                    <b>請登入您的信箱領取確認信函，啟動您的會員帳號，以查詢您的商品購買明細</b>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div style="color:#555;padding-top:10px;">
                                        凡加入馬跡中心之會員可享─
                                        <br> 【線上測驗】
                                        <a href="http://www.magee.tw/ON_ENG/index.php" target="_blank" style="color:#0088cc;">線上考題測驗平台</a>，現在報名再送點數
                                        <br>
                                        <font color="#FF0000">【課程優惠】凡購買課程或商品者，加購考前衝刺班，即享折扣！</font>
                                        <br> 【重要公告】報名日期公告、考試重要公告
                                        <br> 【法規更新】最新考試法規修正通知
                                        <br> 【內容更新】最新考試內容修正通知
                                        <br> 【學員福利】實習機會、工作職缺、相關課程
                                        <br>
                                        <center>
                                            <div style="padding:13px 0px;font-size:15px" ;><a href="join_new.php" target="_blank" style="color:#0088cc; text-decoration:underline;"><b>立即加入會員取得福利</b></a></div>
                                        </center>
                                    </div>
                                </td>
                            </tr>
            </table>
        </div>
    </div>
</div>
<div id="cntR">
    <div class='white'>
        <div class='topic'>訂單明細</div>
        <div class='title area'>
            <table>
                <tr>
                    <td width="250">商品名稱</td>
                    <td width="70">數量</td>
                    <td width="110">價格</td>
                    <td width="110">小計</td>
                </tr>
            </table>
        </div>
        <div class='item area'>
            <table>
                <tr ng-repeat="orderlist in OFC.orderfinal.order_cnt">
                    <td width="400">
                        {{orderlist.id_cname}}
                    </td>
                    <td width="70" class='vr'>
                        <div class='txtOm'>
                            {{orderlist.qty}}
                        </div>
                    </td>
                    <td width="110" class='vr txtOs'>
                        <div class='txtOm'>
                            {{orderlist.price | currency:"$":0}}
                        </div>
                    </td>
                    <td width="110" class='vr txtOs'>
                        <div class='txtOm'>
                            {{orderlist.qty*orderlist.price | currency:"NT$":0}}
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class='tail area'>
            <table class='w-10'>
                    <tfoot>
                        <tr>
                            <td colspan="4">
                                <div class="col-xs-6">
                                    <div class="clearfix txtOm">
                                        {{(OFC.orderfinal.delivermoney>0)?'郵局(加收運費NT'+OFC.orderfinal.delivermoney+')':"自取"}}
                                    </div>
                                    <div class="clearfix">
                                        <span class='pull-left'>商品項目數量 : </span>
                                        <div class='txtOm pull-left'>
                                            {{OFC.orderfinal.order_cnt.length}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    金額總計:
                                    <div class='txtOm'>{{OFC.moneytotel | currency:"NT$":0}}
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tfoot>
            </table>
        </div>
    </div>
</div>
<div id="customerR">
    <div class='white'>
        <div class='topic'>訂購者與收件者明細</div>
        <div class='title area'>
            <table>
                <tr>
                    <td width="250">訂購者資料</td>
                </tr>
            </table>
        </div>
        <div class='item area'>
            <table>
                <tr>
                    <td width="220">訂 購 人： {{OFC.orderfinal.ordermember.name}}
                    </td>
                    <td width="*" class='vr'>Email： {{OFC.orderfinal.ordermember.email}}
                    </td>
                </tr>
            </table>
        </div>
        <div class='item area'>
            <table>
                <tr>
                    <td width="220">聯絡電話： {{OFC.orderfinal.ordermember.phone_no}}
                    </td>
                    <td width="*" class='vr'>手機： {{OFC.orderfinal.ordermember.mobil_no}}
                    </td>
                </tr>
            </table>
        </div>
        <div class='item area'>
            <table>
                <tr>
                    <td width="520">地 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址：
                    ({{OFC.orderfinal.ordermember.post_id}}){{OFC.orderfinal.ordermember.post_id_cname.post_city}}{{OFC.orderfinal.ordermember.post_id_cname.post_area}}{{OFC.orderfinal.ordermember.address}}
                    </td>
                   
                </tr>
            </table>
        </div>
        <div class='title area'>
            <table>
                <tr>
                    <td width="250">收件者資料</td>
                </tr>
            </table>
        </div>
        <div class='item area'>
            <table>
                <tr>
                    <td width="220">收 件 人：{{OFC.orderfinal.delivermember.name}}
                    </td>
                    
                </tr>
            </table>
        </div>
        <div class='item area'>
            <table>
                <tr>
                    <td width="220">聯絡電話：{{OFC.orderfinal.delivermember.phone_no}}
                    </td>
                    <td width="*" class='vr'>手機：{{OFC.orderfinal.delivermember.mobil_no}}
                    </td>
                </tr>
            </table>
        </div>
        <div class='item area'>
            <table>
                <tr>
                    <td width="520">地 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址：
                    ({{OFC.orderfinal.delivermember.post_id}}){{OFC.orderfinal.delivermember.post_id_cname.post_city}}{{OFC.orderfinal.delivermember.post_id_cname.post_area}}{{OFC.orderfinal.delivermember.address}}
                    </td>
                    
                </tr>
            </table>
        </div>
        <div class="w-10" ng-if="OFC.orderfinal.delivermember.inv_no">
            <div class='title area'>
                <table>
                    <tr>
                        <td width="250">統一編號</td>
                    </tr>
                </table>
            </div>
            <div class='item area'>
                <table>
                    <tr>
                        <td width="220">統一編號：
                        </td>
                        <td width="*" class=''>{{OFC.orderfinal.delivermember.inv_no}}</td>
                    </tr>
                </table>
            </div>
            <div class='item area'>
                <table>
                    <tr>
                        <td width="220">統編抬頭：
                        </td>
                        <td width="*" class=''>{{OFC.orderfinal.delivermember.inv_head}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="w-10" ng-if="OFC.orderfinal.delivermember.notes">
            <div class='title area'>
                <table>
                    <tr>
                        <td width="250">備註</td>
                    </tr>
                </table>
            </div>
            <div class='item area'>
                <table>
                    <tr>
                        <td width="*" class=''>
                        {{OFC.orderfinal.delivermember.notes}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class='tail area'>
        </div>
    </div>
</div>
