<ol class="breadcrumb">
    <li><a ui-sref='Base()'>首頁</a></li>
    <li ng-click='PIC.gopage();'><a>{{PIC.gopagename}}</a></li>
    <li>{{PIC.information[PIC.cname+"_cname"]}}</li>
</ol>
<div class="page-header pro-header">
    <h3>{{PIC.information[PIC.cname+"_cname"]}}</h3>
</div>
<div class="col-xs-12">
    <div class="col-xs-5">
        <img src="{{PIC.information.b_img}}" alt="" class='img-thumbnail'>
    </div>
    <div class="col-xs-7">
    </div>
    <div class="w-10 marg-t-3" ng-if='PIC.information.online=="Y"'>
        <button type="button" class="btn btn-primary" new-buy="PIC.information.pk" intype="'COURS'">立即購買</button>
        <button type="button" class="btn btn-success " intocart="PIC.information.pk" intype="'COURS'">加入購物車</button>
    </div>
    <div class="w-10 text-center" ng-if='PIC.information.online!="Y"'>
        <button type='button' class='btn btn-danger active' disabled="disabled">商品銷售完畢</button>
    </div>
</div>
<div class="col-xs-12 marg-t-2 border-full-brown pad-t-2 pad-b-2" ng-bind-html="PIC.information.descrip |tranIfa">
</div>
<div class='col-xs-12 marg-t-2 border-full-brown pad-t-2 pad-b-2 information-content' ng-bind-html='PIC.information.content |tranIfa'></div>
<div class="col-xs-12 text-center">
    <div class="w-10 marg-t-3" ng-if='PIC.information.online=="Y"'>
        <button type="button" class="btn btn-primary" new-buy="PIC.information.pk" intype="'COURS'">立即購買</button>
        <button type="button" class="btn btn-success " intocart="PIC.information.pk" intype="'COURS'">加入購物車</button>
    </div>
    <div class="w-10 text-center" ng-if='PIC.information.online!="Y"'>
        <button type='button' class='btn btn-danger active' disabled="disabled">商品銷售完畢</button>
    </div>
</div>
