<ol class="breadcrumb">
    <li><a ui-sref='Base()'>首頁</a></li>
    <li>課程內容</li>
</ol>
<div class="class-beforinfo" id='scheme' >
    <div class="scheme" ng-bind-html="PCC.web_head">
    </div>
</div>
<div class="btnline h-2">
    <div class="btnopen"><span class="glyphicon glyphicon-chevron-down"></span></div>
</div>
<div class='pro-class'>
    <div class="page-header">
        <font class='class-title'>{{PCC.overview.length}}  項領隊/導遊課程</font>
    </div>
    <ul class="list-group ">
        <li class="list-group-item clearfix ng-cloak" ng-repeat='data in PCC.overview' id='a{{data.overview_id}}'>
            <div ng-click='PCC.openitem($index,data.overview_id)'>
                <!-- <div class="checkbox-star pull-left text-center">
                    <div class="{{(PCC.favicon.indexOf()>-1)?'favicon':'favioc_r'}} icon"></div>
                </div> -->
                <div class="image-box pull-left text-center">
                    <img src="{{data.s_img}}" alt="dd" class='w-10'>
                </div>
                <div class="pro-title pull-left">
                    <h4 class="list-group-item-heading pro-title-header" ng-bind-html="data.title"></h4>
                    <!-- <p class="list-group-item-text">定價 ${{data.price}}
                    <font class="redhit">限量特惠</font>
                </p> -->
                </div>
                <div class='now-buy pull-right' style='height:100%;'>
                    <div class='glyphicon glyphicon-menu-left buylistshow {{(PCC.ka==$index)?"active":""}}'></div>
                    <!-- <button class='now-buy-btn'>立即購買</button> -->
                </div>
            </div>
            <div class="w-10 clearfix pro-content s{{data.overview_id}} saall hide">
                <div class='w-10 clearfix'>
                    <div class="w-10 pro-list-item clearfix" ng-init="data.dafultdata=PCC.proinfodafult(data.info)">
                        <div class="col-xs-12">
                            <button class='btn btn-default btn-xs pro-btn-list {{(data.dafultdata==price[0])?"active":""}}' ng-repeat='(keys,price) in data.info' ng-click='data.dafultdata=price[0]'>
                                <span class='glyphicon glyphicon-star-empty'></span>{{PCC.scheme_name[keys]}}:
                                <span class='text-danger'>{{price[0].price |currency:"$":0}}</span>
                            </button>
                        </div>
                    </div>
                    <div class='col-xs-12'>
                        <label class='label label-default'>商品名稱</label>
                    </div>
                    <div class="pro-right pull-left">
                        <p>{{data.dafultdata.cours_cname}}</p>
                    </div>
                </div>
                <div class='w-10 clearfix'>
                    <div class='col-xs-12'>
                        <label class='label label-default'>內容說明</label>
                    </div>
                    <div class="pro-right pull-left" ng-bind-html="data.dafultdata.descrip | tranhtml:data.info">
                    </div>
                </div>
                <div class="w-10 clearfix">
                    <div class='col-xs-12 '>
                        <label class='label label-default pull-left marg-t-2 marg-r-1'>價錢</label>
                        <h3 class='text-org'>NT. {{data.dafultdata.price | currency : "$" :0}}</h3>
                    </div>
                </div>
                <div class='w-10 clearfix text-center marg-b-1'>
                    <div class="w-10" ng-if='data.dafultdata.online=="Y"'>
                        <button type="button" class='btn btn-warning' ui-sref="Base.pro_information({func_id:'COURS',id:data.dafultdata.pk})">詳細資訊</button>
                        <button type="button" class="btn btn-primary" new-buy="data.dafultdata.pk" intype="'COURS'">立即購買</button>
                        <button type="button" class="btn btn-success" intocart="data.dafultdata.pk" intype="'COURS'">加入購物車</button>
                    </div>
                    <div class="w-10" ng-if='data.dafultdata.online!="Y"'>
                        <button type="button" class='btn btn-warning' ui-sref="Base.pro_information({func_id:'COURS',id:data.dafultdata.pk})">詳細資訊</button>
                        <button type='button' class='btn btn-danger active' disabled="disabled">商品銷售完畢</button>
                    </div>
                </div>
                <div class="w-10 pro-list-item clearfix" ng-init="data.dafultdata=PCC.proinfodafult(data.info)">
                    <div class="col-xs-12">
                        <button class='btn btn-default btn-xs pro-btn-list {{(data.dafultdata==price[0])?"active":""}}' ng-repeat='(keys,price) in data.info' ng-click='data.dafultdata=price[0]'>
                            <span class='glyphicon glyphicon-star-empty'></span>{{PCC.scheme_name[keys]}}:
                            <span class='text-danger'>{{price[0].price |currency:"$":0}}</span>
                        </button>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
<div uib-alert class="alert alert-success incartshow marg-l-1">已加入購物車</div>
