<ol class="breadcrumb">
    <li><a ui-sref='Base()'>首頁</a></li>
    <li>書籍商品</li>
</ol>
<div class='pro-class'>
    <div class="page-header">
        <font class='class-title'>{{PBC.prolist.length}}  項領隊/導遊書籍</font>
    </div>
    <ul class="list-group ">
        <li class="list-group-item clearfix ng-cloak" ng-repeat='data in PBC.prolist' id='a{{$index}}'>
            <div class="book-box" ng-click='PBC.openitem($index)'>
                <div class="checkbox-star pull-left text-center">
                    <div class="favicon icon"></div>
                </div>
                <div class="image-box pull-left text-center">
                    <img src="{{data.s_img}}" alt="" class='w-10'>
                </div>
                <div class="pro-title pull-left">
                    <h4 class="list-group-item-heading pro-title-header">{{data.books_cname}}</h4>
                    <p class="list-group-item-text pro-price"><small>定價</small> <span class='text-org'>${{data.price}}</span>
                        <!-- <font class="redhit">限量特惠</font> -->
                    </p>
                </div>
            </div>
            <div class='now-buy pull-right'>
                <!--  <button class='now-buy-btn' new-buy="data.pk" intype="'BOOKS'">立即購買</button> -->
                <div class='glyphicon glyphicon-menu-left buylistshow {{(PBC.ka==$index)?"active":""}}'></div>
            </div>
            <div class="w-10 clearfix pro-content saall hide ss{{$index}}">
                <div class='w-10 clearfix'>
                    <div class='col-xs-12'>
                        <label class='label label-default'>商品名稱</label>
                    </div>
                    <div class="pro-right pull-left">
                        <p>{{data.books_cname}}</p>
                    </div>
                </div>
                <div class='w-10 clearfix'>
                    <div class='col-xs-12'>
                        <label class='label label-default'>內容說明</label>
                    </div>
                    <div class="pro-right pull-left" ng-bind-html="data.descrip">
                    </div>
                </div>
                <div class="w-10 clearfix">
                    <div class='col-xs-12'>
                        <label class='label label-default pull-left marg-t-2 marg-r-1'>價錢</label>
                        <h3 class='text-org'>NT. {{data.price | currency : "$" :0}}</h3>
                    </div>
                </div>
                <div class='w-10 clearfix text-center'>
                    <div class="w-10" ng-if='data.onsellout!="Y"'>
                        <button type="button" class='btn btn-warning' ui-sref="Base.pro_information({func_id:'BOOKS',id:data.pk})">詳細資訊</button>
                        <button type="button" class="btn btn-primary" new-buy="data.pk" intype="'BOOKS'">立即購買</button>
                        <button type="button" class="btn btn-success" intocart="data.pk" intype="'BOOKS'">加入購物車</button>
                    </div>
                    <div class="w-10" ng-if='data.onsellout=="Y"'>
                        <button type="button" class='btn btn-warning' ui-sref="Base.pro_information({func_id:'BOOKS',id:data.pk})">詳細資訊</button>
                        <button type='button' class='btn btn-danger active' disabled="disabled">商品銷售完畢</button>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
<div uib-alert class="alert alert-success incartshow marg-l-1">已加入購物車</div>
