<div class="w-10">
    <div class="w-10">
        <table class='w-10 table table-ordercolor shop-list '>
            <caption>收件者資料
                <button type="button" class='btn btn-primary btn-sm pull-left' ng-click='BPC.delivermember=BPC.ordermember'>與訂購者相同</button>
            </caption>
            <colgroup>
                <col width='100px'>
                <col>
            </colgroup>
            <tbody>
                <tr>
                    <th>中文全名：</th>
                    <td>
                        <input type='text' class='form-control' ng-model='BPC.delivermember.name'>
                    </td>
                </tr>
                <tr>
                    <th>聯絡電話：</th>
                    <td>
                        <input type='text' class='form-control' ng-model='BPC.delivermember.phone_no'>
                    </td>
                </tr>
                <tr>
                    <th>手機：</th>
                    <td>
                        <input type='text' class='form-control' ng-model='BPC.delivermember.mobil_no'>
                    </td>
                </tr>
                <tr>
                    <th>地區：</th>
                    <td>
                        <select ng-model='BPC.delivermember.post_id ' class='w-10 form-control'>
                            <option value="">請選擇地區</option>
                            <option value="{{post.post_id}}" ng-repeat='post in BPC.post_id'>{{post.post_id}}{{post.post_city}}{{post.post_area}}</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>地址：</th>
                    <td>
                        <input type='text' class='form-control' ng-model='BPC.delivermember.address'>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="w-10">
        <table class='w-10 table table-ordercolor shop-list'>
            <caption>統一編號
                <button type="button" class='btn btn-primary btn btn-sm pull-left' ng-click='BPC.delivermember.inv_post_id=BPC.ordermember.post_id;BPC.delivermember.inv_address=BPC.ordermember.address'>同訂購者地址</button>
            </caption>
            <colgroup>
                <col width='100px'>
                <col>
            </colgroup>
            <tbody>
                <tr><td colspan="2" align="right"><small> (選填，發票需打統編者，請填入下列欄位)</small></td></tr>
                <tr>
                    <th>統一編號：</th>
                    <td>
                        <input type='text' ng-model='BPC.delivermember.inv_no' class='form-control'>
                    </td>
                </tr>
                <tr>
                    <th>統編抬頭：</th>
                    <td>
                        <input type='text' ng-model='BPC.delivermember.inv_head' class='form-control'>
                    </td>
                </tr>
                <tr>
                    <th>地區：</th>
                    <td>
                        <select ng-model='BPC.delivermember.inv_post_id' class='w-10 form-control'>
                            <option value="">請選擇地區</option>
                            <option value="{{post.post_id}}" ng-repeat='post in BPC.post_id'>{{post.post_id}}{{post.post_city}}{{post.post_area}}</option>
                            
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>地址：</th>
                    <td>
                        <input type='text' class='form-control' ng-model='BPC.delivermember.inv_address'>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="col-xs-12 text-center clearfix">
    <button type="button" class='btn btn-primary' ng-click='BPC.uppage()'><span class='glyphicon glyphicon-menu-left'></span>上一步</button>
    <button type="button" class='btn btn-success' ng-click='BPC.nextpage()'><span class='glyphicon glyphicon-menu-right'></span>下一步</button>
</div>