<div class="w-10">
    <div class="w-10">
        <table class='w-10 table table-ordercolor shop-list '>
            <caption>訂購者資料
                <button type="button" class='btn btn-success btn-sm pull-left' ng-if='!BPC.member' loginmember>登入會員</button>
            </caption>
            <colgroup>
                <col width='100px'>
                <col>
            </colgroup>
            <tbody>
                <tr>
                    <th>中文全名：</th>
                    <td>
                        <input type='text' class='form-control' ng-model='BPC.ordermember.name'>
                    </td>
                </tr>
                <tr>
                    <th>聯絡電話：</th>
                    <td>
                        <input type='text' class='form-control' ng-model='BPC.ordermember.phone_no'>
                    </td>
                </tr>
                <tr>
                    <th>手機：</th>
                    <td>
                        <input type='text' class='form-control' ng-model='BPC.ordermember.mobil_no'>
                    </td>
                </tr>
                <tr>
                    <th>Email：</th>
                    <td>
                        <input type='text' class='form-control' ng-model='BPC.ordermember.email'>
                    </td>
                </tr>
                <tr>
                    <th>地區：</th>
                    <td>
                        <select ng-model='BPC.ordermember.post_id' class='w-10 form-control'>
                            <option value="">請選擇地區</option>
                            <option value="{{post.post_id}}" ng-repeat='post in BPC.post_id'>{{post.post_id}}{{post.post_city}}{{post.post_area}}</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>地址：</th>
                    <td>
                        <input type='text' class='form-control' ng-model='BPC.ordermember.address'>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="col-xs-12 text-center clearfix">
    <button type="button" class='btn btn-primary' ng-click='BPC.uppage()'><span class='glyphicon glyphicon-menu-left'></span>上一步</button>
    <button type="button" class='btn btn-success' ng-click='BPC.nextpage()'><span class='glyphicon glyphicon-menu-right'></span>下一步</button>
</div>
