
<div class='col-xs-12'>
    <div class="row">
        <table class='table table-bordered table-hover table-responsive shopcart-header'>
            <thead>
                <tr>
                    <td widtd='20px;'></td>
                    <td>商品名稱 </td>
                    <td>數量</td>
                    <td>價格(元)</td>
                    <td>小計</td>
                    <td>移除</td>
                </tr>
            </thead>
            <tbody ng-repeat="data in BPC.incart">
                <tr>
                    <td>{{$index+1}}</td>
                    <td colspan="5">{{data.id_cname}}</td>
                </tr>
                <tr>
                    <td colspan="2"></td>
                    <td width="30px">
                        <input type="number" min='1' ng-change="BPC.changeqty(data)" style='width:30px;' name="" ng-model='data.qty'>
                    </td>
                    <td><span class='lead text-danger'>{{data.price | currency:"$":0}}</span></td>
                    <td><span class='lead text-danger'>{{data.price*data.qty | currency:"$":0}}</span></td>
                    <td>
                        <button type='button' class='btn btn-danger btn-sm' ng-click="BPC.rmitem(data)"><span class='glyphicon glyphicon-trash'></span>
                        </button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="6">
                        <div class="col-xs-5">
                            <form class='form-inline'>
                                <div class='input-group' ng-init='BPC.radiodelivery=BPC.incart[0].delivery'>
                                    <label>
                                        <input type="radio" name="delivery" ng-model='BPC.radiodelivery' value='0'>郵局
                                    </label>
                                </div>
                                <div class='input-group'>
                                    <label>
                                        <input type="radio" name="delivery" ng-model='BPC.radiodelivery' value='1'>自取
                                    </label>
                                </div>
                            </form>
                        </div>
                        <div class="col-xs-7">
                            <ul class='list-inline'>
                                <li>數量：<span class='lead text-danger'>{{BPC.incart | totmoney:'count'}}</span></li>
                                <li>運費：<span class='lead text-danger'>{{BPC.delivery | currency:"$":0  }}</span></li>
                                <li>總金額：<span class='lead text-danger'>{{(BPC.moneytotel=(BPC.incart | totmoney:"money")+BPC.delivery )| currency:"$":0 }}</span></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
        <div class="col-xs-12 text-center" >
            <button type="button" class='btn btn-primary' ng-click='BPC.goback()'><span class='glyphicon glyphicon-share-alt'></span>繼續購物</button>
            <button type="button" class='btn btn-success' ng-click='BPC.nextpage()'><span class='glyphicon glyphicon-usd'></span>結帳</button>
        </div>
    </div>
</div>

