<div class="topBanner clearfix">
    <div class="col-xs-12">｜返回官網｜</div>
    <div class="col-xs-12">
        <div class="col-xs-3 pull-right col-xs-offset-4">
            <form class='' accept-charset="utf-8">
                <div class='input-group'>
                  <label>
                  <div class="btn"></div>
                  <input type="text" name="" value="" class='form-control'></label>
                </div>
                <div class='input-group'></div>
            </form>
        </div>
    </div>
</div>
