<div class="buystep row">
    <div class="colorbox deepred line h-6"></div>
    <div class="marg-l-1 marg-r-1" style="cursor:default;">商品
        <br> 購買流程
    </div>
    <div class="circle border {{(bdc.active==0)?'red':''}} {{( bdc.shopcart.length==0)?'nolink':''}} font-s-12 noline-h w-6 h-6 pad-t-1 " ng-click='bdc.buystep(0)'>目前
        <br>購物車</div>
    <!-- <div class="colorbox deepred line h-2"></div>
    <div class="circle border {{(bdc.active==1)?'red':''}} {{( bdc.shopcart.length==0)?'nolink':''}}  font-s-12 noline-h w-6 h-6 pad-t-1 " ng-click='bdc.buystep(1)'>前往
        <br>加購</div>
    <div class="colorbox deepred line h-2"></div>
    <div class="circle border {{(bdc.active==2)?'red':''}} {{( bdc.shopcart.length==0)?'nolink':''}} font-s-12 noline-h w-6 h-6 pad-t-1 " ng-click='bdc.buystep(2)'>收貨
        <br>方式</div> -->
    <div class="colorbox deepred line h-2"></div>
    <div class="circle border {{(bdc.active==3)?'red':''}} {{( bdc.shopcart.length==0)?'nolink':''}}  font-s-12 noline-h w-6 h-6 pad-t-1 " ng-click='bdc.buystep(3)'>填寫
        <br>訂購資料</div>
    <div class="max-w480"></div>
    <div class="colorbox deepred line h-2"></div>
    <div class="circle border {{(bdc.active==4)?'red':''}} font-s-12 noline-h w-6 h-6 pad-t-1"  ng-click='bdc.buystep(4)' style="cursor: pointer;">訂購
        <br>確認</div>
        <div class="colorbox deepred line h-2"></div>
    <div class="circle border {{(bdc.active==5)?'red':''}} font-s-12 noline-h w-6 h-6 pad-t-1" style="cursor:default;">訂購
        <br>完成</div>
</div>
