<div class="row pad-t-2 pad-b-2">
    <div class="col-sm-10 col-sm-offset-2 col-lg-8 col-lg-offset-3 buyer-detail">
        <h4 class="line-red pad-b-1">購物車</h4>
        <h4 class="redfont pad-l-5" ng-if="(bdc.shopcart.length==0)"><b>尚未有任何商品放入購物車唷！</b>
				<button class="btn btn-info" ui-sref="class" backtotop>繼續購物</button>
        </h4>
        <div class="table-responsive">
        <table class="table order-detail table-hover" width="80%" align="center" ng-if="(bdc.shopcart.length!=0)">
            <thead>
                <tr>
                    <th colspan="2">商品名稱</th>
                    <th>數量</th>
                    <th>單價價格</th>
                    <th>項目總金額</th>
                    <th>移除</th>
                </tr>
            </thead>
            <tr ng-repeat="shoplist in bdc.shopcart">
                <td colspan="2">{{shoplist.name}}</td>
                <td>
                    <input type="number" ng-model="shoplist.quantity" min="1" max="{{shoplist.max}}" style="width:40px" ng-change="bdc.changenumber(shoplist)">
                </td>
                <td>{{shoplist.price | currency:"$":0}}</td>
                <td>{{shoplist.itemtotel=shoplist.price*shoplist.quantity | currency:"$":0}}</td>
                <td>
                    <button class="btn btn-default btn-xs" ng-click="bdc.remove(shoplist)">移除</button>
                </td>
            </tr>
            <tr ng-if="(bdc.delivery.price)">
                <td colspan="2">{{bdc.delivery.name}}</td>
                <td></td>
                <td>{{bdc.delivery.price | currency:"$":0}}</td>
                <td></td>
                <td></td>
            </tr>
            <tfoot>
                <tr>
                    <td></td>
                    <td>金額總計</td>
                    <td></td>
                    <td>{{(bdc.shopcart | sum:"itemtotel") + bdc.delivery.price | currency:"$":0 }}</td>
                    <td></td>
                    <td></td>
                </tr>
                <!-- <tr>
                    <td colspan="6">
                        <div class="col-xs-4 pull-right text-left">
                            <div class="addbuy radio " ng-repeat="buyway in bdc.buy_way">
                                <label class="nopadding-l">
                                    <input type="radio" name="optradio" ng-checked="bdc.delivery.type==buyway.type" ng-click="bdc.deliveryway(buyway)">{{buyway.fullname}}</label>
                            </div>
                        </div>
                    </td>
                </tr> -->
            </tfoot>
        </table>
        </div>
        <hr color="redhr">
          <div ng-include="'views/order/buypage3.html'" include-replace></div>
        <div ng-include="'views/order/buypage2.html'" include-replace></div>
        <table class="table ps-detail font-s-14" align="center" width="80%">
            <tr>
                <td width="10%"></td>
                <td>
                    <p class="t-indent pad-t-2"> ．如果您要更改商品訂購數量，請直接修改正確訂購數量即可更新,如購買五本(含)以上，請打電話詢問郵資 </p>
                    <p class="t-indent">．如果您要取消訂購商品，請點選[移除]按鈕即可取消該商品訂購 </p>
                    <p class="t-indent">．商品售價將以您實際結帳之即時價格為準 </p>
                    <p class="t-indent">．商品數量、本商店提供贈品與優惠等，也將以您實際結帳為準</p>
                    <p class="t-indent">．建議盡早完成結帳手續，以確保能購買到商品與享有贈品與優惠！ </p>
                    <p class="t-indent">．若本購物車有優惠活動，訂購成功後您欲取消訂單，一起結帳的商品需全部取消 </p>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-sm-4 col-sm-offset-6" ng-if="(bdc.shopcart.length!=0)">
        <button class="btn btn-primary marg-r-3" ng-click='bdc.active=3' backtotop>下一步</button>
        <button class="btn btn-default" ui-sref="class" backtotop>繼續購物</button>
    </div>
</div>
