<div class="row  clearfix">
    <div class="col-xs-12 col-lg-12 ">
        <div class="col-sm-6 buystepmore">
            <div class="col-xs-1 icon-mark">
                <span class="glyphicon glyphicon-play redfont"></span>
            </div>
            <div class="col-xs-10 pad-l-3">
                <h3>選擇商品取貨方式</h3>
                <p>請點選欲商品取貨方式，如需特殊處理請於送出訂單前備註</p>
            </div>
        </div>
        <div class="col-sm-6 buystepmore marg-b-3">
            <div class="text-left">
                <div class="addbuy radio " ng-repeat="buyway in bdc.buy_way">
                    <label class="nopadding-l">
                        <input type="radio" name="optradio" ng-checked="bdc.delivery.type==buyway.type" ng-click="bdc.deliveryway(buyway)">{{buyway.fullname}}</label>
                </div>
            </div>
            <!--  <button class="btn btn-primary marg-r-3" ng-click='bdc.active=3' backtotop>下一步</button>
            <button class="btn btn-default" ui-sref="class" backtotop>繼續購物</button> -->
        </div>
    </div>
</div>
