<div class="row pad-t-2 pad-b-2">
    <div class="col-sm-10 col-sm-offset-2 col-lg-9 col-lg-offset-3">
        <div class="buyer-detail">
            <h4 class="line-red">訂購資料填寫
            <button class="btn btn-danger marg-l-1" data-toggle="modal" data-target="#login" ng-click="bdc.login()" ng-if="!bdc.buy_data.order">會員登入</button>
            <button class="btn btn-success marg-all-1 " ui-sref='member' ng-if="!bdc.buy_data.order" >會員註冊</button>
            <small class="marg-l-1" ng-if="!bdc.buy_data.order">登入會員後，系統將會自行帶出您的會員資料</small></h4>
            <div class="colorbox gray pad-all-2 marg-b-2 font-s-13">
                <div class="">
                    <table width="100%" >
                        <tr>
                            <td width="130" valign="top">
                                <div class="circle black pull-left h-5 w-5">訂購</div>
                                <p class="line-h-60 font-s-16"><b>者資料</b></p>
                            </td>
                            <td class="pad-b-1">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">中文全名</label>
                                        <div class="col-md-10 nopadding-l">
                                            <input type="text" class="form-control" placeholder="姓名" ng-model="bdc.buy_data.order.name">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">連絡電話</label>
                                        <div class="col-md-10 nopadding-l">
                                            <input type="text" class="form-control" placeholder="電話" ng-model="bdc.buy_data.order.phone">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">手機</label>
                                        <div class="col-md-10 nopadding-l">
                                            <input type="text" class="form-control" placeholder="手機(例如.0912345678)" ng-model="bdc.buy_data.order.cellphone">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">電子信箱</label>
                                        <div class="col-md-10 nopadding-l">
                                            <input type="text" class="form-control" placeholder="請輸入常用Email(例如.p123@gmial.com)" ng-model="bdc.buy_data.order.email">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">地址</label>
                                        <div class="col-md-10 nopadding-l">
                                            <div class="col-md-4 nopadding-l nopadding-r">
                                                <select name="" class="form-control" ng-model="bdc.buy_data.order.post_id">
                                                    <option value="">郵遞區號</option>
                                                    <option value="{{post.id}}" ng-repeat="post in bdc.post_data">{{post.id}} {{post.name}} {{post.area}}</option>
                                                </select>
                                            </div>
                                            <div class="col-md-8 nopadding-l nopadding-r">
                                                <input type="text" class="form-control" placeholder="地址" ng-model="bdc.buy_data.order.address">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="colorbox red pad-all-2 marg-b-2">
                <div class="">
                    <table width="100%">
                        <tr>
                            <td></td>
                            <td class="pad-l-10">
                                <div class="checkbox has-error">
                                    <label>
                                        <button class='btn btn-sm btn-primary' ng-click="bdc.sysorder()">資料同於訂購者</button>
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td width="130" valign="top">
                                <div class="circle red pull-left h-5 w-5">收件</div>
                                <p class="line-h-60 font-s-16 redfont"><b>者資料</b></p>
                            </td>
                            <td>
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">中文全名</label>
                                        <div class="col-md-10 nopadding-l">
                                            <input type="text" class="form-control" placeholder="姓名" ng-model="bdc.buy_data.receipt.name">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">連絡電話</label>
                                        <div class="col-md-10 nopadding-l">
                                            <input type="text" class="form-control" placeholder="電話" " ng-model="bdc.buy_data.receipt.phone ">
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <label class="col-md-2 control-label ">手機</label>
                                        <div class="col-md-10 nopadding-l ">
                                            <input type="text " class="form-control " placeholder="手機(例如.0912345678) " ng-model="bdc.buy_data.receipt.cellphone ">
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <label class="col-md-2 control-label ">電子信箱</label>
                                        <div class="col-md-10 nopadding-l ">
                                            <input type="text " class="form-control " placeholder="請輸入常用Email(例如.p123@gmial.com) " ng-model="bdc.buy_data.receipt.email ">
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <label class="col-md-2 control-label ">地址{{bdc.buy_data.receipt.post_id}}</label>
                                        <div class="col-md-10 nopadding-l ">
                                            <div class="col-md-4 nopadding-l nopadding-r ">
                                                <select name=" " class="form-control " ng-model="bdc.buy_data.receipt.post_id ">
                                                    <option value=" ">郵遞區號</option>
                                                    <option value="{{post.id}}" ng-repeat="post in bdc.post_data ">{{post.id}} {{post.name}} {{post.area}}</option>
                                                </select>
                                            </div>
                                            <div class="col-md-8 nopadding-l nopadding-r ">
                                                <input type="text " class="form-control " placeholder="地址 " ng-model="bdc.buy_data.receipt.address ">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <h4 class="line-red marg-b-1 marg-t-2 ">
            <font class="back-white ">統一編號<small class="marg-l-2 ">(選填，發票需打統編者，請填入下列欄位)</small></font>
            <button class='btn btn-sm btn-primary' ng-click="bdc.syscomtitle() ">地址同於訂購者</button>
            </h4>
            <div class="colorbox gray pad-all-2 marg-b-2 ">
                <div class="">
                    <table width="100%">
                        <tr>
                            <td>
                                <div class="col-md-10 col-md-offset-1 ">
                                    <form class="form-horizontal ">
                                        <div class="form-group ">
                                            <label class="col-md-3 control-label ">統一編號</label>
                                            <div class="col-md-9 nopadding-l ">
                                                <input type="text " class="form-control " placeholder="請輸入統一編號(數字) " ng-model="bdc.buy_data.company.number ">
                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <label class="col-md-3 control-label ">統邊抬頭</label>
                                            <div class="col-md-9 nopadding-l ">
                                                <input type="text " class="form-control " placeholder="請輸入公司全名 " ng-model="bdc.buy_data.company.fullname ">
                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <label class="col-md-3 control-label ">寄送地址</label>
                                            <div class="col-md-9 nopadding-l control-label ">
                                                <div class="col-md-5 nopadding-l nopadding-r ">
                                                    <select name=" " class="form-control " ng-model="bdc.buy_data.company.post_id">
                                                        <option value="">郵遞區號</option>
                                                        <option value="{{post.id}}" ng-repeat="post in bdc.post_data ">{{post.id}} {{post.name}} {{post.area}}</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-7 nopadding-l nopadding-r ">
                                                    <input type="text " class="form-control " placeholder="地址 " ng-model="bdc.buy_data.company.address ">
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <h4>訂購備註</h4>
            <div class="colorbox red pad-all-2 marg-b-2 text-center ">
                <textarea class="form-control " rows="5 " placeholder="輸入你想要寫的內容.... " ng-model="bdc.buy_data.receipt.remark"></textarea>
            </div>
            <div class="modal-footer ">
                <button class="btn btn-default " ng-click="bdc.active=0" backtotop>返回上一步</button>
                <button class="btn btn-danger" ng-if="(bdc.shopcart.length!=0)"  ng-click="bdc.active=4"  backtotop>下一步</button>
            </div>
        </div>
    </div>
</div>