<div class="row col-xs-12">
    <div class="w-10-pa">
        <div class="col-xs-12 buystepmore">
            <div class="col-xs-1 icon-mark">
                <span class="glyphicon glyphicon-play redfont"></span>
            </div>
            <div class="col-xs-10">
                <h3>加購優惠</h3>
                <p>請點選欲購買之品項前方框，即享課程合購商品之超值優惠</p>
            </div>
        </div>
        <div class="col-xs-12 buystepmore red colorbox">
            <div class="col-sm-6 pad-l-1" ng-repeat="title in bdc.shopcart |filter:{kid:'main'} " ng-if="(bdc.additem|filter:{group:title.uid}).length>0">
                <h4 class="">購買 {{title.name}} </h4>
                <font color="#de7ea4">可享以下商品的加購優惠價……</font>
                <div class="addbuy checkbox" ng-repeat="item in bdc.additem|filter:{group:title.uid}">
                    <label>
                        <input type="checkbox" ng-checked="(bdc.cart | filter:{id:item.id,kid:'addpro'}).length>0" ng-click="bdc.addgoods(item)">{{item.price | currency:"$":0}} {{item.name}}
                    </label>
                </div>
            </div>
        </div>
        <!--  <div class="col-sm-6 col-sm-offset-5 pad-t-3">
            <button class="btn btn-primary marg-r-3 " ng-click='bdc.active=2' backtotop>下一步</button>
            <button class="btn btn-default" ui-sref="class" backtotop>繼續購物</button>
        </div> -->
    </div>
</div>
