	<div class="colorbox deepred imgback">
		<div class="container">
			<div class="row pad-t-4 pad-b-4">
				<div class="col-sm-1 col-sm-offset-3 text-right">
					<p class="font-s-18">_</p>
				</div>
				<div class="col-sm-4 text-center">
					<p class="font-s-22">關於馬跡領隊導遊中心</p>
				</div>
				<div class="col-sm-1 text-left">
					<p class="font-s-18">_</p>
				</div>
			</div>
		</div>
	</div>
	<div class="colorbox">
		<div class="container">
			<div class="row pad-t-2 pad-b-2">
				<div class="col-sm-10 col-sm-offset-1 doc">
					<div class="col-sm-9 col-sm-offset-3 doc">
						<p>馬跡領隊導遊訓練 ‧ 派遣中心
						由達跡旅行社、馬跡訓練部門及一群
						對於旅遊業具有相當熱誠的旅遊專業人士組成的團隊。</p>
					</div>
				</div>
			</div>
			<div class="row pad-t-2 pad-b-3">
				<div class="col-sm-10 col-sm-offset-1 doc">
					<div class="col-sm-3 doc">
					</div>
					<div class="col-sm-9 doc">
						<p>為因應市場需求，並有效地提升領隊、導遊人員在帶團方面的專業水準及知識，從事領隊、導遊的教育實務訓練和調度派遣。為有心成為導遊、領隊的旅遊業內外人士，規劃一系列實用的訓練課程，以幫助培育更多旅遊業的帶團精英。中心亦為旅行社領隊導遊供應商，期待讓更多有志之士能圓帶團夢。</p>
						<p>由於目前市場上有許多非業內人士在通過領隊、導遊甄試合格後，雖想帶團，卻沒有適合的管道介紹，進而順利擁有帶團之機會；另一方面，有些已在業內之領隊、導遊人員，雖擁有帶團執照卻一直無法親身帶團。探究其因，發現沒有實際帶團能力及訓練，因而遲遲無法順利上團的領隊、導遊佔有相當高的比例。甚至，有些領隊、導遊更因本身的帶團經驗不足或專業條件不夠，因而無法勝任帶團之重任。</p>
						<p>中心為有效提升領隊、導遊素質，特別推出領隊導遊實務、考證相關課程，無論是18~80歲，只要對於領隊、導遊導覽解說有興趣或有志從事觀光旅遊服務業者，甚至是領有帶團執照但無實際帶團經驗之領隊、導遊人員皆可以參加。</p>
						<p>在課程的安排上，更特別針對想帶團但尚無考取帶團資格的人，透過領隊、導遊實務方面的訓練來帶入考證的重點提示，將帶團實務及考照做一個結合，以協助快速且有效地考取帶團資格，並成為本公司帶團推薦名單，推薦給各大旅行社做領隊、導遊調度。</p>
						<p>我們誠摯希望，所有無論是有執照沒團帶或是無執照想帶團的朋友，都能經由中心安排的實務訓練課程，提升帶團能力及專業知識，一圓帶團夢。</p>
					</div>
				</div>
			</div>
			<div class="row nomarg">
				<div class="col-sm-5 col-sm-offset-1 doc">
					<div class="col-sm-5 doc">
						<div class="z-index-1 text-right">
							<img src="images/about.png" alt="">
						</div>
					</div>
					<div class="col-sm-10">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="colorbox red">
		<div class="container">
			<div class="row pad-t-4 pad-b-4">
				<div class="col-sm-10 col-sm-offset-1">
					<p class="font-s-19">馬跡大記事</p>
					<p class="font-s-18">MAGEECUBE  CONPANY</p>
				</div>
			</div>
			<div class="row pad-t-4 pad-b-4">
				<div class="col-sm-10 col-sm-offset-1s">
				<div class="circle"></div>
				</div>
				</div>
			</div>
		</div>
	</div>