<div class="colorbox deepred" ng-if="(bdc.active==5)">
    <div class="container">
        <div class="row pad-t-5 pad-b-4">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <p class="font-s-18 order-final">已送出訂單，將立即為您處理，
                    <br> 請於3日內完款，來電中心確認款項哦!
                </p>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-2 col-sm-offset-1 col-lg-2 col-lg-offset-2  z-index-1 line-768 ">
    <div ng-include="'views/order/buyleftlist.html'" include-replace></div>
</div>
<div class="colorbox gray hr-shadow in min-h-70" ng-if=(bdc.active==0)>
    <div class="container">
        <div ng-include="'views/order/buypage1.html'" include-replace></div>
    </div>
</div>
<div class="colorbox red hr-shadow in min-h-70" ng-if=(bdc.active==1)>
    <div class="container" id="step1">
        
    </div>
</div>
</div>
<div class="colorbox red hr-shadow in  min-h-70" ng-if=(bdc.active==2)>
    <div class="container" id="step2">
      
    </div>
</div>
<div class="colorbox hr-shadow in min-h-70" ng-if=(bdc.active==3)>
    <div class="container" id="step3">
        <div ng-include="'views/order/buypage4.html'" include-replace></div>
    </div>
</div>
<div class="colorbox gray hr-shadow in min-h-70" ng-if="(bdc.active==4)">
    <div class="container" id="endstep">
        <div class="row pad-t-2 pad-b-2">
            <div class="col-sm-10 col-sm-offset-2 col-lg-8 col-lg-offset-3 buyer-detail">
                <h3 class="line-red pad-b-1 text-center" ng-if="!bdc.orderuid">請再次確認訂購</h3>
                <div class="table-responsive">
                <table class="table order-detail table-hover text-center" width="80%" align="center">
                    <thead>
                        <tr>
                            <th colspan="2">商品名稱</th>
                            <th>數量</th>
                            <th>價格</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="shoplist in bdc.shopcart">
                        <tr>
                            <td colspan="2">{{shoplist.name}}</td>
                            <td>{{shoplist.quantity}}</td>
                            <td>{{shoplist.price}}</td>
                            <td></td>
                        </tr>
                      <!--   <tr>
                            <td width="150" style="border-top-width: 0px;"></td>
                            <td>小計</td>
                            <td></td>
                            <td>{{shoplist.quantity*shoplist.price | currency:"$":0}}</td>
                            <td></td>
                        </tr> -->
                    </tbody>
                    <tr>
                        <td width="150" ng-if="(bdc.delivery.price)"></td>
                        <td>運費</td>
                        <td></td>
                        <td>{{bdc.delivery.price | currency:"$":0}}</td>
                        <td></td>
                    </tr>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td>金額總計</td>
                            <td></td>
                            <td>{{(bdc.shopcart | sum:"itemtotel") + bdc.delivery.price | currency:"$":0 }}</td>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
                </div>
                <h4 class="line-red pad-b-1">訂購人資訊</h4>
                <div class="table-responsive">
                <table class="table order-detail table-hover" width="80%" align="center">
                    <thead>
                        <tr>
                            <th colspan="4" class="text-hit">登入會員完成訂購或憑訂單編號，可從本網站上方【訂單查詢】選單查看您訂購的商品出貨進度唷！</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                           
                            <td width="20%" >姓名</td>
                            <td width="20%">{{bdc.buy_data.receipt.name}}</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>email</td>
                            <td>{{bdc.buy_data.receipt.email}}</td>
                            <td>行動電話</td>
                            <td>{{bdc.buy_data.receipt.cellphone}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>寄送地址</td>
                            <td colspan="3" class="text-left" ng-if="(bdc.post_data | filter:{id:bdc.buy_data.receipt.post_id}).length==1">{{ (bdc.post_data | filter:{id:bdc.buy_data.receipt.post_id})[0].id }}/{{ (bdc.post_data | filter:{id:bdc.buy_data.receipt.post_id})[0].name }}/{{ (bdc.post_data | filter:{id:bdc.buy_data.receipt.post_id})[0].area }} {{bdc.buy_data.receipt.address}}</td>
                        </tr>
                        <tr ng-if="(bdc.company_data.number!='')">
                            <td>統一編號</td>
                            <td>{{bdc.buy_data.company.number}}</td>
                            <td>公司抬頭</td>
                            <td>{{bdc.buy_data.company.fullname}}</td>
                        </tr>
                        <tr>
                            <td>訂購人備註</td>
                            <td colspan="3">{{bdc.buy_data.receipt.remark}}</td>
                        </tr>
                    </tfoot>
                </table>
                </div>
                <div class="table-responsive">
                <table class="table ps-detail font-s-14" align="center" width="80%">
                    <thead>
                        <tr>
                            <td width="20%"></td>
                            <td width="80%">
                                <p>請於繳款後來電確認款項及座位 TEL/ 02-2733-8118 </p>
                                <p>※ 請於報名後三日內完款並與我們確認，才算完成報名唷！</p>
                                <p class="pad-b-2">【以上方案活動需於{{bdc.saledate|date:'yyyy 年 MM 月 dd 日'}}前付款方生效】</p>
                                <p>
                                    <font class="text-danger">付款方式：
                                        <ol>
                                            <li>銀行匯款：
                                                <font color="#000">帳號：4801-027-027-88</font>
                                            </li>
                                            <p style="color:#000; margin-left: 6em">
                                                銀行別： 臺北富邦銀行 和平分行
                                                <br> 戶名：馬跡庫比有限公司
                                            </p>
                                            <li>ATM轉帳：
                                                <font color="#000">帳號：4801-027-027-88</font>
                                            </li>
                                            <p style="color:#000; margin-left: 6em">銀行代號：012</p>
                                            <li>現場繳款：
                                                <font color="#000">請至馬跡中心
                                                    <br> (ADD：台北市大安區復興南路二段268號3樓之一)
                                                </font>
                                            </li>
                                        </ol>
                            </td pad-b-2>
                        </tr>
                    </thead>
                </table>
                </div>
                <div class="col-xs-12 marg-t-1 text-center marg-b-15" ng-if="!bdc.orderuid">
                		<button class="btn btn-lg btn-success col-xs-12" ng-click="bdc.submitorder()" backtotop>確定訂單</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="colorbox gray hr-shadow in min-h-70" ng-if="(bdc.active==5)">
    <div class="container" id="endstep">
        <div class="row pad-t-2 pad-b-2">
            <div class="col-sm-10 col-sm-offset-2 col-lg-10 col-lg-offset-3 buyer-detail">
                <h4 class="line-red pad-b-1" ng-if="bdc.orderuid">完成訂購
                <span class="glyphicon glyphicon-chevron-right"></span>
                <b>您的訂單編號：{{bdc.orderuid}}</b>
            </h4>
                <div class="table-responsive">
                <table class="table order-detail table-hover text-center" width="80%" align="center">
                    <thead>
                        <tr>
                            <th colspan="2">商品名稱</th>
                            <th>數量</th>
                            <th>價格</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="shoplist in bdc.ch.shopcart">
                        <tr>
                            <td colspan="2">{{shoplist.name}}</td>
                            <td>{{shoplist.quantity}}</td>
                            <td>{{shoplist.price}}</td>
                            <td></td>
                        </tr>
                      <!--   <tr>
                            <td width="150" style="border-top-width: 0px;"></td>
                            <td>小計</td>
                            <td></td>
                            <td>{{shoplist.quantity*shoplist.price | currency:"$":0}}</td>
                            <td></td>
                        </tr> -->
                    </tbody>
                    <tr>
                        <td width="150" ng-if="(bdc.ch.delivery.price)"></td>
                        <td>運費</td>
                        <td></td>
                        <td>{{bdc.ch.delivery.price | currency:"$":0}}</td>
                        <td></td>
                    </tr>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td>金額總計</td>
                            <td></td>
                            <td>{{(bdc.ch.shopcart | sum:"itemtotel") + bdc.ch.delivery.price | currency:"$":0 }}</td>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
                </div>
                <h4 class="line-red pad-b-1">訂購人資訊</h4>
                <div class="table-responsive">
                <table class="table order-detail table-hover" width="80%" align="center">
                    <thead>
                        <tr>
                            <th colspan="4" class="text-hit">登入會員完成訂購或憑訂單編號，可從本網站上方【訂單查詢】選單查看您訂購的商品出貨進度唷！</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td width="20%">姓名</td>
                            <td width="20%">{{bdc.buy_data.receipt.name}}</td>
                            <td width=""></td>
                            <td width=""></td>
                        </tr>
                        <tr>
                            <td>email</td>
                            <td>{{bdc.buy_data.receipt.email}}</td>
                            <td>行動電話</td>
                            <td>{{bdc.buy_data.receipt.cellphone}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>寄送地址</td>
                            <td colspan="3" ng-if="(bdc.post_data | filter:{id:bdc.buy_data.receipt.post_id}).length==1">{{ (bdc.post_data | filter:{id:bdc.buy_data.receipt.post_id})[0].id }}/{{ (bdc.post_data | filter:{id:bdc.buy_data.receipt.post_id})[0].name }}/{{ (bdc.post_data | filter:{id:bdc.buy_data.receipt.post_id})[0].area }} {{bdc.buy_data.receipt.address}}</td>
                        </tr>
                        <tr ng-if="(bdc.company_data.number!='')">
                            <td>統一編號</td>
                            <td>{{bdc.buy_data.company.number}}</td>
                            <td>公司抬頭</td>
                            <td>{{bdc.buy_data.company.fullname}}</td>
                        </tr>
                        <tr>
                            <td>訂購人備註</td>
                            <td colspan="3">{{bdc.buy_data.receipt.remark}}</td>
                        </tr>
                    </tfoot>
                </table>
                </div>
                <div class="table-responsive">
                <table class="table ps-detail font-s-14" align="center" width="80%">
                    <thead>
                        <tr>
                            <td width="20%"></td>
                            <td width="80%">
                                <p>請於繳款後來電確認款項及座位 TEL/ 02-2733-8118 </p>
                                <p>※ 請於報名後三日內完款並與我們確認，才算完成報名唷！</p>
                                <p class="pad-b-2">【以上方案活動需於{{bdc.saledate|date:'yyyy 年 MM 月 dd 日'}}前付款方生效】</p>
                                <p>
                                    <font class="text-danger">付款方式：
                                        <ol>
                                            <li>銀行匯款：
                                                <font color="#000">帳號：4801-027-027-88</font>
                                            </li>
                                            <p style="color:#000; margin-left: 6em">
                                                銀行別： 臺北富邦銀行 和平分行
                                                <br> 戶名：馬跡庫比有限公司
                                            </p>
                                            <li>ATM轉帳：
                                                <font color="#000">帳號：4801-027-027-88</font>
                                            </li>
                                            <p style="color:#000; margin-left: 6em">銀行代號：012</p>
                                            <li>現場繳款：
                                                <font color="#000">請至馬跡中心
                                                    <br> (ADD：台北市大安區復興南路二段268號3樓之一)
                                                </font>
                                            </li>
                                        </ol>
                            </td pad-b-2>
                        </tr>
                    </thead>
                </table>
                </font>
                <div class="col-xs-12 marg-t-1 text-center marg-b-15" ng-if="!bdc.orderuid">
                        <button class="btn btn-lg btn-success col-xs-12" ng-click="bdc.submitorder()" backtotop>確定訂單</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="colorbox deepgray textfoot"></div>
