<div class="colorbox" ng-hide="(epc.member.id=='')">
	<div class="container">
		<div class="row pad-t-2 pad-b-5">
			<div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
				<div class="panel panel-primary">
					<div class="panel-heading font-s-14">會員密碼修改</div>
					<div class="panel-body">
						按下確認送出後，將會發送新密碼至您的信箱。<br>
						<font class="text-hit">(密碼長度為4-12碼英文或數字組合，不可包含特殊字元，例如：!@#$%^&*( )_,-...等)</font>
					</div>
					<table  class="table">
						<tr>
							<td>會員帳號</td>
							<td>{{epc.member.account}}</td>
							<td>會員姓名</td>
							<td>{{epc.member.name}}</td>
						</tr>
						<tr>
							<td>新密碼</td>
							<td colspan="2"><input type="password" ng-model="epc.member.newpw"></td>
							<td></td>
						</tr>
						<tr>
							<td>再次輸入新密碼</td>
							<td colspan="2"><input type="password" ng-model="epc.member.repw"></td>
							<td><button class="btn btn-primary btn-sm" ng-click="epc.change()">確認送出</button></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="colorbox" ng-show="(epc.member.id=='')">
	<div class="container">
		<div class="row pad-t-2 pad-b-5">
			<div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
				<div class="panel panel-primary">
					<div class="panel-heading font-s-14">
						會員密碼修改
					</div>
					<div class="panel-body">
						填寫完成後按下確認送出，將會發送新密碼至您的信箱。<br>
						<font class="text-hit">(密碼長度為4-12碼英文或數字組合，不可包含特殊字元，例如：!@#$%^&*( )_,-...等)</font>
					</div>
					<table  class="table">
						<tr>
							<td>會員帳號</td>
							<td><input type="text" ng-model="epc.member.id"></td>
							<td>會員姓名</td>
							<td><input type="text" ng-model="epc.member.name"></td>
						</tr>
						<tr>
							<td>新密碼</td>
							<td colspan="2"><input type="text" ng-model="epc.member.newpw"></td>
							<td></td>
						</tr>
						<tr>
							<td>再次輸入新密碼</td>
							<td colspan="2"><input type="text" ng-model="epc.member.repw"></td>
							<td><button class="btn btn-primary btn-sm" ng-click="epc.change()">確認送出</button></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>