<div id="seat_box">
      
       <div class="row">
<!--
       <div>
        ，<p><strong>請現場課程同學，於完款後來電中心與專人確認您的款項及上課座位唷！</strong></p>
           <p><strong>劃位專線 (02)2733-8118</strong></p>
 
   ，<hr/>
     </div>
-->
       <p><strong>請現場課程同學，於完款後來電中心與專人確認您的款項及上課座位唷！</strong></p>
           <p><strong>劃位專線 (02)2733-8118</strong></p>
           <hr>   
       <div class="row" style="margin-bottom:30px;">
          <div style="float:left;width:100px;"><div style="background-color:crimson;width:20px;height:20px;float:left;"></div>已劃位</div>
          <div style="float:left;width:100px;"><div style="background-color:#053;width:20px;height:20px;float:left;"></div>尚可選位</div>
        </div>
            <div class="row">
                <div class="seat_box_header ">
                    <div class=" text-center " id="whiteboard">白板</div>
                    <div class=" text-center " id="screen">屏幕</div>
                    <div id="door"></div>
                    <div id="lectern" class="text-center">講桌</div>
                </div>
                
            </div>
          
        <div class="col-sm-12">
            <div class="col-sm-12" id="seat_row">
            <div style="width:3%;float:left;margin-right:10px;"><div style="padding:5px;height:75px;">1</div><div style="padding:5px;height:75px;">2</div><div style="padding:5px;height:75px;">3</div><div style="padding:5px;height:75px;">4</div><div style="padding:5px;height:75px;">5</div><div style="padding:5px;height:75px;">6</div></div>               <div class="seat-column">
                   <div class="link_table"> <div class="seat_place" data-number="1">1</div> <div class="seat_place" data-number="2">2</div> <div class="seat_place" data-number="3">3</div></div><div class="link_table"> <div class="seat_place" data-number="4">4</div> <div class="seat_place" data-number="5">5</div> <div class="seat_place" data-number="6">6</div></div><div class="link_table"> <div class="seat_place" data-number="7">7</div> <div class="seat_place" data-number="8">8</div> <div class="seat_place" data-number="9">9</div></div><div class="link_table"> <div class="seat_place" data-number="10">10</div> <div class="seat_place" data-number="11">11</div> <div class="seat_place" data-number="12">12</div></div><div class="link_table"> <div class="seat_place" data-number="13">13</div> <div class="seat_place" data-number="14">14</div> <div class="seat_place" data-number="15">15</div></div><div class="link_table"> <div class="seat_place" data-number="16">16</div> <div class="seat_place" data-number="17">17</div> <div class="seat_place" data-number="18">18</div></div>                   
                   
               </div>
                           <div class="seat-column">
                   <div class="link_table"> <div class="seat_place" data-number="19">19</div> <div class="seat_place" data-number="20">20</div> <div class="seat_place" data-number="21">21</div></div><div class="link_table"> <div class="seat_place" data-number="22">22</div> <div class="seat_place" data-number="23">23</div> <div class="seat_place" data-number="24">24</div></div><div class="link_table"> <div class="seat_place" data-number="25">25</div> <div class="seat_place" data-number="26">26</div> <div class="seat_place" data-number="27">27</div></div><div class="link_table"> <div class="seat_place" data-number="28">28</div> <div class="seat_place" data-number="29">29</div> <div class="seat_place" data-number="30">30</div></div><div class="link_table"> <div class="seat_place" data-number="31">31</div> <div class="seat_place" data-number="32">32</div> <div class="seat_place" data-number="33">33</div></div><div class="link_table"> <div class="seat_place" data-number="34">34</div> <div class="seat_place" data-number="35">35</div> <div class="seat_place" data-number="36">36</div></div>                   
                   
               </div>
                           <div class="seat-column">
                   <div class="one_table"> <div class="seat_place" data-number="37">37</div> <div class="seat_place" data-number="38">38</div></div><div class="one_table"> <div class="seat_place" data-number="39">39</div> <div class="seat_place" data-number="40">40</div></div><div class="one_table"> <div class="seat_place" data-number="41">41</div> <div class="seat_place" data-number="42">42</div></div><div class="one_table"> <div class="seat_place" data-number="43">43</div> <div class="seat_place" data-number="44">44</div></div><div class="one_table"> <div class="seat_place" data-number="45">45</div> <div class="seat_place" data-number="46">46</div></div><div class="link_table"> <div class="seat_place" data-number="47">47</div> <div class="seat_place" data-number="48">48</div></div><div class="link_table"> <div class="seat_place" data-number="49">49</div> <div class="seat_place" data-number="50">50</div></div>                   
                   
               </div>
                        </div>
    </div>
    </div>
    </div>