<div class="w-10-pa">
    <div ng-include src="gmc.exam_news" include-replace></div>
</div>
<div class="container">
    <div class="row nomarg pad-t-2">
        <div class=" col-md-1 z-index-1 buystep smallhide" style="white-space:nowrap">商品
            <br> 購買流程
            <br>
            <div class="circle border font-s-12 noline-h w-6 h-6 pad-t-1 ">選擇
                <br> {{(gmc.CSorBK=='BK')?'書籍':'課程'}}
            </div>
            第 <big class="font-s-18">1</big> 步
        </div>
        <div class="col-md-10 col-md-offset-2" ng-if="(gmc.CSorBK=='CS')">
            <ul class="nav nav-tabs goods-group">
                <li role="presentation" class="active" ng-repeat="class in gmc.course_class" ng-if="(gmc.pro_detail.class==class.id)">
                    <a ui-sref="class()">{{class.name}}</a></li>
                <li><a ui-sref="class()"><font class="tagline">參考其他課程</font></a></li>
            </ul>
            <div class="row colorbox border-all bor-cor-red nomarg pad-t-1 pad-b-1">
                <div class="col-sm-3 choice text-center">
                    <table>
                        <tr>
                            <td width="150">
                                {{gmc.ProName}}</td>
                            <td width="43" class="text-center"><span class="glyphicon glyphicon-play symbol"></span></td>
                        </tr>
                    </table>
                </div>
                <div class="col-sm-9 nomarg nopadd-r">
                    <button ui-sref="goodsmore({proid:case.id,caseid: gmc.pro_caseid})" class="btn {{(gmc.pro_classid==case.id)? 'btn-danger':'btn-default'}} btn-xs marg-all-1" ng-repeat="case in gmc.case">{{case.name}} <big>{{case.price}}</big> 元</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row nomarg">
        <div class="col-md-9 col-md-offset-3 pad-t-3 pad-b-3 ">
            <div class="media">
                <div class="media-left class-img text-center z-index-0">
                    <div class="z-index-1 goods-tag" ng-if="(gmc.pro_detail.onsite)"><img src="images/goods-tag.png" alt=""></div><img ng-src="{{gmc.pro_detail.image}}" alt="" width="100%">
                    <p class="goods-price marg-t-1 marg-b-1">商品售價 <span class="text-danger">{{gmc.pro_detail.price}}</span> 元</p>
                    <button class="btn btn-danger pad-l-2 pad-r-2" ng-click="gmc.gobuypage()" backtotop>立即購買</button><br>
                    <button class="btn btn-default font-s-10 marg-t-1" ng-click="gmc.incart()" ng-if="(gmc.newcart| filter :{id:gmc.pro_detail.id}).length==0">加入購物車</button>
                    <button class="btn btn-default font-s-10 marg-t-1 active" ui-sref="shopcart" ng-if="(gmc.newcart| filter :{id:gmc.pro_detail.id}).length>0">已加進購物車</button>
                </div>
                <div class="media-body pad-l-4">
                    <h3 class="media-heading">{{(gmc.ProName)?gmc.ProName+"-":""}}{{gmc.pro_detail.name}}</h3>
                    <div class="label-group">
<!--                         <span ng-repeat="element in gmc.pro_detail.ele"><label class="label {{(element.color=='Y')? 'label-danger':'label-default'}}">{{element.name}}</label>
                        {{(element.id==gmc.pro_detail.package.length)? '':' + '}} </span> -->
                        <span ng-repeat="element in gmc.pro_detail.package"><label class="label {{(element.color=='Y')? 'label-danger':'label-default'}}">{{element.name}}</label>
                        {{(($index+1)==gmc.pro_detail.package.length)? '':' + '}}</span>
                    </div>
                    <div class="goods-detail marg-t-2">
                        <div class="table-responsive">
                            <div ng-include="gmc.pro_detail.smalinfor" ng-if="gmc.pro_detail.smalinfor" include-replace></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="colorbox gray">
    <div class="row">
        <div class="pad-t-2 goods-html">
        <div class="table-responsive">
            <table align="center">
                <td>
                <div class="w-10-pa">
                    <div ng-include="gmc.pro_detail.webcontext" ng-if="gmc.pro_detail.webcontext" include-replace></div>
                </div>
                </td>
            </table>
        </div>            
        </div>
    </div>
</div>
<div class="colorbox h-10">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 pad-t-2 goods-detail text-center">
            <h4 class="pull-left marg-r-1">{{(gmc.ProName)?gmc.ProName:gmc.pro_detail.name}}  <label class="label label-success font-s-12" ng-repeat="case in gmc.case" ng-if=(gmc.pro_classid==case.id) >{{case.name}}</label></h4>
            <p class="goods-price pull-left">{{(gmc.pro_caseid!="0")?"課程":"書籍"}}售價 <span class="text-danger">{{gmc.pro_detail.price}}</span> 元</p>
            <div class="pull-right">
                <button class="btn btn-danger font-s-10" ng-click="gmc.gobuypage()" backtotop>立即購買</button>
                <button class="btn btn-default font-s-10" ng-click="gmc.incart()" ng-if="(gmc.newcart| filter :{id:gmc.pro_detail.id}).length==0">加入購物車</button>
                <button class="btn btn-default btn- font-s-10 active" ui-sref="shopcart" ng-if="(gmc.newcart| filter :{id:gmc.pro_detail.id}).length>0">已加入購物車</button>
            </div>
            <a href="" backtotop ng-if="(gmc.CSorBK=='CS')"><small class="pull-right pad-t-1 pad-r-1 tagline"><span class="glyphicon glyphicon-share-alt"></span> 看更多方案 ...</small></a>
        </div>
    </div>
</div>
