<div class="colorbox deepred">
    <div class="container">
        <div class="row pad-t-2 pad-b-2">
            <div class="col-sm-1 col-md-1 col-md-offset-2 text-right">
                <p class="font-s-18">_</p>
            </div>
            <div class="col-sm-10 col-md-6 text-center">
                <p class="font-s-22">
                    <font class="font-s-18">{{nc.Group.name}}
                        <br>
                    </font>
                    <font style="font-weight: bolder;">{{nc.DocsInfor.name}}</font>
                </p>
            </div>
            <div class="col-sm-1 text-left">
                <p class="font-s-18">_</p>
            </div>
        </div>
    </div>
</div>
<div class="colorbox gray hr-shadow" ng-if="nc.DocTag.length>0">
    <div class="container">
        <div class="row ">
            <ul class="list-inline text-center iconmenu nomarg">
                <li ng-repeat="txtlink in nc.DocTag">
                    <a ng-click="nc.goto(txtlink.remark)">
                        <div class="circle red gray font-s-14 pad-all-1 noline-h h-6 w-6 link">{{txtlink.name}}</div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="colorbox" >
    <div class="container">
        <div class="row pad-t-2 pad-b-2">
            <div class="table-responsive doc">
            <table align="center">
                <td>
                <div class="w-10-pa">
                    <div ng-include src="nc.DocsInfor.content" include-replace></div>
                </div>
                </td>
            </table>
            </div>
        </div>
    </div>
</div>
<!-- <div class="colorbox" ng-if="nc.doc_detail.content_count>1">
    <div class="container">
        <div class="row pad-t-2 pad-b-2" ng-repeat="node in nc.doc_detail.textelement | limitTo:4">
            <div class="col-md-10 col-md-offset-1 doc">
                <div class="col-md-2 doc">
                    <h4 id="{{node.id}}"><font>{{node.name}}</font></h4>
                </div>
                <div class="col-md-10 doc" ng-bind-html="node.alltext | trantextarea">
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- <div class="colorbox gray  z-index-0">
    <div class="container">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="text pull-left cm">
                <h3 class="text-hit">馬跡 “超強師資”</h3>
                <p class="text-hit">連續5年全國榜首 ‧ 高錄取率保證</p>
                <p>領隊+導遊實務一、二、觀資三科 保證馬跡師資團隊 親授
                    <br> 領隊+導遊實務一、二、觀資三科
                    <br> 保證馬跡師資團隊 親授</p>
                <botton class="btn btn-default">立即了解</botton>
            </div>
            <div class="pull-right"><img src="../images/cw-normal.png"></div>
        </div>
    </div>
</div> -->
<!-- <div class="colorbox" ng-if="nc.doc_detail.content_count>1">
    <div class="container">
        <div class="row pad-t-2 pad-b-2" ng-repeat="node in nc.doc_detail.textelement | limitTo:-4">
            <div class="col-md-10 col-md-offset-1 doc">
                <div class="col-md-2 doc">
                    <h4 id="{{node.id}}">{{node.name}}</h4>
                </div>
                <div class="col-md-10 doc" ng-bind-html="node.alltext | trantextarea">
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- <div class="colorbox red">
    <div class="container">
        <div class="row pad-t-2 pad-b-2">
            <div class="col-sm-10 col-sm-offset-1 doc">
                <div class="col-sm-4 doc text-left">
                    <p>＜ 上篇文章：<a ng-if="(nc.prevdocid==0)">無</a>
                        <a ng-if="(nc.prevdocid!=0)" ui-sref="newsdoc({listid:nc.list_group,docid:nc.prevdocid})">{{nc.prevdoc.title}}</a></p>
                </div>
                <div class="col-sm-4 doc text-center">
                    <p>推薦文章：<a ui-sref="newsdoc({listid:nc.random.class,docid:nc.random.docid})">{{nc.random.title}}</a></p>
                </div>
                <div class="col-sm-4 doc text-right">
                    <p>下篇文章：<a ng-if="(nc.nextdocid==10)">無</a>
                        <a ng-if="(nc.nextdocid!=10)" ui-sref="newsdoc({listid:nc.list_group,docid:nc.nextdocid})">{{nc.nextdoc.title}}</a> ＞</p>
                </div>
            </div>
        </div>
    </div>
</div> -->
