<div class="colorbox">
	<div class="container">
		<div class="row pad-t-2">
			<div class="col-md-6 col-md-offset-1 col-lg-6 col-lg-offset-1">
				<div class="panel panel-primary">
					<div class="panel-heading font-s-14">請輸入您想查詢的訂單編號</div>
					<div class="panel-body text-right">
						<div class="input-group marg-b-1">
							<input type="text" ng-model="search.ordernum" class="form-control" placeholder="請輸入您完成訂購時的訂單編號 ex.ORDER1703200001">
							<span class="input-group-btn">
								<button class="btn btn-primary" type="button">查詢</button>
							</span>
						</div>
						或 <a data-toggle="modal" data-target="#login">登入會員</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="colorbox gray hr-shadow in min-h-70">
	<div class="container">
		<div class="row pad-t-2 pad-b-2">
			<div class="col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 buyer-detail table-responsive">
				<h4 class="line-red pad-b-1">訂單查詢 </h4>
				<h4 class="redfont pad-l-5" ng-if="(olc.orderlist.length==0)"><b>您目前尚未有任何訂單唷！</b>
				<button class="btn btn-info" ui-sref="class" backtotop>繼續購物</button></h4>
				<div class="table-responsive">
					<table class="table order-detail table-hover " width="100%" align="center" ng-if="!(olc.orderlist.length==0)">
						<thead>
							<tr>
								<th>訂單編號<br>(點擊編號展開訂單詳細)</th>
								<th>訂單總金額</th>
								<th>處理狀態</th>
								<th>出貨日期</th>
								<th>投遞通路</th>
								<th>投遞單號</th>
							</tr>
						</thead>
						<tbody ng-repeat="orders in olc.orderlist | filter:search:strict" style="border-color: #c78787">
							<tr>
								<td><a ng-click="orders.show=!orders.show"><b>{{orders.ordernum}}</b></a></td>
								<td>{{orders.paytotal}}</td>
								<td>{{orders.status}}</td>
								<td>{{orders.sentdate}}</td>
								<td>{{orders.sentway}}</td>
								<td>{{orders.sentnum}}</td>
							</tr>
							<tr>
								<td colspan="7" style="color:#aaa">
									<div class="pad-l-5 w-10-pa {{(orders.status==status.stepnum)? 'text-hit':''}}" ng-repeat="status in olc.status" >
										<div class="pull-left" ng-repeat="update in orders.statuschange" ng-if="status.stepnum==update.num">{{status.name}}<br>{{update.date}}</div>
										<div ng-if="(status.stepnum!=4)"><span  style="margin:0 6%"  class="glyphicon glyphicon-chevron-right pull-left line-h-24"></span></div>
									</div>
								</td>
							</tr>
							<tr ng-show="orders.show">
								<td colspan="7">
									<table class="table order-detail table-hover" width="80%" align="center">
										<thead>
											<tr>
												<th>商品名稱</th>
												<th>數量</th>
												<th>價格</th>
												<th>小計</th>
											</tr>
										</thead>
										<tr ng-repeat="detail in orders.goods">
											<td>{{detail.name}}</td>
											<td>{{detail.quantity}}</td>
											<td>{{detail.price}}</td>
											<td>{{detail.price*detail.quantity| currency:"$":0}}</td>
										</tr>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<table class="table ps-detail font-s-14" align="center" width="80%">
					<thead>
						<tr><td width="20%"></td>
						<td width="80%">
							<p>請於繳款後來電確認款項及座位 TEL/ 02-2733-8118 </p>
							<p>※ 請於下單後三日內完款並與我們確認，才能立即將商品出貨唷！</p>
							<p><font class="text-danger">付款方式： ○匯款   ○ATM   ○現金 (現場付款)</font></p>
							<p>帳　　號： 4801-027-027-88</p>
							<p>　　　　　 台北富邦銀行 和平分行(012)</p>
							<p class="pad-b-2">戶　　名： 馬跡庫比有限公司</p>
						</td>
					</tr>
				</thead>
				<tr><td width="10%"></td>
				<td>
					<p class="t-indent">．商品數量、本商店提供贈品與優惠等，也將以您實際結帳為準</p>
					<p class="t-indent">．建議盡早完成結帳手續，以確保能購買到商品與享有贈品與優惠！ </p>
					<p class="t-indent">．您欲取消訂單，請致電至本中心做取消，一起結帳的商品優惠將全部取消。</p>
					<p class="t-indent">．日後您有退貨需求，一起結帳的商品必須全數退回。</p>
				</td>
			</tr>
		</table>
	</div>
</div>
</div>
</div>