<div class="colorbox">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-md-7 col-md-offset-1 col-lg-6 col-lg-offset-2">
				<div class="panel panel-default">
					<div class="panel-heading"><h3 class="panel-title">帳號資料</h3></div>
					<div class="panel-body pad-b-1">
						HI, {{pdc.data.name}} 您好！
					</div>
					<table class="table">
						<tr>
							<td align="right">帳號(電子信箱)：</td>
							<td>{{pdc.data.userid}}</td>
						</tr>
						<tr>
							<td align="right">密碼：</td>
							<td>上次更動日期 {{pdc.data.pwupdate}}</td>
						</tr>
						<tr>
							<td align="right">是否訂閱電子報：</td>
							<td>{{pdc.data.subnews}}</td>
						</tr>
						<tr>
							<td align="right">註冊日期：</td>
							<td>{{pdc.data.signdate}}</td>
						</tr>
					</table>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading"><h3 class="panel-title">個人資料</h3></div>
					<div class="panel-body pad-b-1">
						放放自我介紹
					</div>
					<table class="table">
						<tr>
							<td align="right">性別：</td>
							<td>{{pdc.data.sex}}</td>
							<td align="right">出生年月：</td>
							<td>{{pdc.data.birthday}}</td>
						</tr>
						<tr>
							<td align="right">連絡電話：</td>
							<td>{{pdc.data.phone}}</td>
							<td align="right">行動電話：</td>
							<td>{{pdc.data.cellphone}}</td>
						</tr>
						<tr>
							<td align="right">地址：</td>
							<td>{{pdc.data.post}}</td>
							<td colspan="2">{{pdc.data.add}}</td>
						</tr>
						<tr>
							<td align="right">畢業科系：</td>
							<td>{{pdc.data.school}}</td>
							<td align="right">工作職業：</td>
							<td>{{pdc.data.work}}</td>
						</tr>
						<tr>
							<td align="right">擅長技能：</td>
							<td colspan="3">{{pdc.data.skill}}</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="col-sm-4 col-md-3 col-lg-2">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">功能表</h3>
					</div>
					<div class="panel-body pad-t-2 pad-b-2">
						<p>修改個人資料</p>
						<p><a ui-sref='changepw'>密碼修改</a></p>
						<p><a ui-sref='order'>訂單查詢</a></p>
						<p class='disabled'>線上請假</p>
						<p><a ui-sref="outlogin">登出</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>