	<div class="colorbox deepred">
		<div class="container">
			<div class="row pad-t-4 pad-b-2">
				<div class="col-sm-1 col-sm-offset-3 text-right">
					<p class="font-s-18">_</p>
				</div>
				<div class="col-sm-4 text-center">
					<p class="font-s-24">超強師資</p>
				</div>
				<div class="col-sm-1 text-left">
					<p class="font-s-18">_</p>
				</div>
				<div class="col-sm-6 col-sm-offset-3 pad-all-2 text-center">
					<p class="font-s-16">馬跡中心超強師資陣容，皆為線上專業領隊導遊，將帶領各位考生取得證照並成功上團。</p>
				</div>
			</div>
		</div>
	</div>
	<div class="colorbox">
		<div class="container">
			<div class="row pad-t-2 pad-b-2 text-center">
			<div class="col-lg-8 col-lg-offset-2">
				<!-- ============================= -->
				<div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 teacher-list" ng-repeat="data in tc.teacher">
					<center>
						<div class="w-12 h-12">
							<img ng-src="{{data.img}}" class="img-circle w-11 h-11 marg-t-1 z-index-0 marg-l-1">
							<div class="circle w-12 h-12 border z-index-1" style="top:0"></div>
						</div>
					</center>
					<h3>{{data.name}}</h3>
					<p class="text-hit font-s-10 b pad-t-1 ">●</p>
					<table align="center">
						<tr><td>
						<p class="text-hit font-s-16 b">{{data.skill1}} </p>
						<p class="text-hit font-s-16 b">{{data.skill2}}</p><br></td></tr>
						<tr align="left"><td ng-bind-html="data.intro | trantextarea"></td></tr>
					</table>
				</div>
				<!-- ============================== -->
			</div>
			</div>
		</div>
	</div>