<div class="container">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1 col-md-12">
            <div class="col-lg-6 col-md-6 text-center">
                <p>
                    <label class="label label-danger">第1期</label>
                    <lable class="label label-default">台北</lable>
                    105年07月30日~105年08月21日
                    <lable class="label label-default">已結訓</lable>
                </p>
                <p>
                    <label class="label label-danger">第2期</label>
                    <lable class="label label-default">台北</lable>
                    105年07月30日~105年08月21日
                    <lable class="label label-default">已結訓</lable>
                </p>
            </div>
            <div class="col-lg-6 col-md-6 text-center div-center">
                <label class="label label-danger">第3期</label>
                <lable class="label label-default">台北</lable>
                105年07月30日~105年08月21日
                <lable class="label label-default">已結訓</lable>
            </div>
        </div>
    </div>
</div>
