<div class="w-10 Marquee">
    <div class="w-10 Marquee-box">
        <div class="Marquee-item clearfix" ng-repeat='Marquee in Mar.hotnews'>
	            <label class='label label-danger hotmews'>熱門消息</label>
	            <a href='{{Marquee.url}}'>
	                {{Marquee.name}}</a>
        </div>
    </div>
</div>
