<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>馬跡領隊導遊中心</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0">
    <meta name="fragment" content="!" />
    <link rel="canonical" href="http://www.magee.tw">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/angular-ui-tree/dist/angular-ui-tree.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
</head>

<body ng-app="mageeViewApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Add your site or application content here -->
    <div class='goTop-0 text-center' go-top ng-if='goTopshow'>
        <span class='glyphicon glyphicon-chevron-up'></span> 回頂部
    </div>
    <div class="header w-10 ">
        <div class="w-10 h-10-pa" ui-view='header'></div>
    </div>
    <div class="contbody clearfix w-10 " ng-click="active=false">
        <div ui-view></div>
    </div>
    <div class="clearfix text-center ">
        <ol class="breadcrumb">
            <li><a change-to-computer>電腦版</a></li>
            <li>手機版</li>
        </ol>
    </div>
    <div class="copyright clearfix w-10 text-center" ng-click="closemenu()">
        <p>©馬跡庫比有限公司 版權所有 </p>
        <p>馬跡領隊導遊訓練 ‧ 派遣中心 <br>
        ADD/106 臺北市大安區復興南路二段268號3樓之1<br>
        諮詢服務 / 週一至週五 10:00-18:00 <br>(02)2733-8118 / (02)7711-0050</p>
    </div>
    
    <div class="footer clearfix w-10 ">
        <div class="w-10 h-10-pa " ui-view='footer'></div>
    </div>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
    // ! function(A, n, g, u, l, a, r) {
    //     A.GoogleAnalyticsObject = l, A[l] = A[l] || function() {
    //             (A[l].q = A[l].q || []).push(arguments)
    //         }, A[l].l = +new Date, a = n.createElement(g),
    //         r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
    // }(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    // ga('create', 'UA-XXXXX-X');
    // ga('send', 'pageview');
    </script>
    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/satellizer/dist/satellizer.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-ui-tree/dist/angular-ui-tree.js"></script>
    <script src="bower_components/flow.js/dist/flow.js"></script>
    <script src="bower_components/ng-flow/dist/ng-flow.js"></script>
    <script src="bower_components/angular-file-upload/dist/angular-file-upload.min.js"></script>
    <script src="bower_components/angular-bootstrap3-typeahead/angular-bootstrap3-typeahead.js"></script>
    <script src="bower_components/spin.js/spin.js"></script>
    <script src="bower_components/angular-spinner/angular-spinner.js"></script>
    <script src="bower_components/angular-loading-spinner/angular-loading-spinner.js"></script>
    <script src="bower_components/chart.js/dist/Chart.js"></script>
    <script src="bower_components/angular-chart.js/dist/angular-chart.js"></script>
    <script src="bower_components/tinymce/tinymce.js"></script>
    <script src="bower_components/angular-ui-tinymce/src/tinymce.js"></script>
    <script src="bower_components/ngDraggable/ngDraggable.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/about.js"></script>
    <script src="scripts/controllers/productlist.js"></script>
    <script src="scripts/services/api.js"></script>
    <script src="scripts/controllers/header.js"></script>
    <script src="scripts/controllers/footer.js"></script>
    <script src="scripts/controllers/base.js"></script>
    <script src="scripts/controllers/pro_class.js"></script>
    <script src="scripts/filters/httpctrl.js"></script>
    <script src="scripts/filters/getdata.js"></script>
    <script src="scripts/services/getdata.js"></script>
    <script src="scripts/services/httpctrl.js"></script>
    <script src="scripts/directives/news.js"></script>
    <script src="scripts/controllers/news.js"></script>
    <script src="scripts/controllers/docsshow.js"></script>
    <script src="scripts/controllers/docspage.js"></script>
    <script src="scripts/controllers/otherdocs.js"></script>
    <script src="scripts/controllers/probook.js"></script>
    <script src="scripts/filters/tranhtml.js"></script>
    <script src="scripts/controllers/shopchart.js"></script>
    <script src="scripts/directives/new-buy.js"></script>
    <script src="scripts/directives/intocart.js"></script>
    <script src="scripts/controllers/intocart.js"></script>
    <script src="scripts/controllers/new-buy.js"></script>
    <script src="scripts/controllers/buypropage.js"></script>
    <script src="scripts/filters/totmoney.js"></script>
    <script src="scripts/directives/loginmember.js"></script>
    <script src="scripts/controllers/loginmember.js"></script>
    <script src="scripts/controllers/page/studentshare.js"></script>
    <script src="scripts/controllers/page/navcontent.js"></script>
    <script src="scripts/controllers/page/freelisten.js"></script>
    <script src="scripts/directives/marquee.js"></script>
    <script src="scripts/controllers/orderfinal.js"></script>
    <script src="scripts/directives/swipetoggle.js"></script>
    <script src="scripts/directives/change-to-computer.js"></script>
    <script src="scripts/filters/tranifa.js"></script>
    <script src="scripts/controllers/pro-information.js"></script>
    <script src="scripts/directives/gotop.js"></script>
    <!-- endbuild -->
</body>

</html>
