<div class="navbar" role="navigation">
    <div class="topmenu">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse" style="z-index: 999">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" style="color:#555">
                <div class="navbar-brand pad-r-1 logo " ui-sref='index' href="#/"><img src="images/logo.png"></div>
                <div class="navbar-brand pad-r-1 logo2"><img src="images/logo2.png" align="left" style="padding-right: 20px;">馬跡領隊導遊訓練中心</div>
            </a>
        </div>
        <div class="collapse navbar-collapse " id="js-navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a ui-sref='class'>現場課程</a></li>
                <li><a ui-sref='book'>考證書籍</a></li>
                <li role="presentation" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">領隊導遊須知 <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="group in hhc.grouplist"><a ui-sref='news({group:group.values})'>{{group.name}}</a></li>
                    </ul>
                </li>
              <!--   <li><a href="#">線上劃位</a></li> -->
                <li><a href="http://www.magee.tw/newonline" target="_bank">線上教學</a></li>
                <li><a ui-sref='order'>訂單查詢</a></li>
                <li>
                    <a ui-sref="shopcart" class="text-hit font-s-14"><span class="glyphicon glyphicon-shopping-cart"></span>我的購物車</a>
                </li>
                <li ng-if="hhc.member.open!='Y'" class="right">
                    <div style="background-color: #fff" class="text-right"><button data-toggle="modal" data-target="#login" class="btn-danger btn btn-sm marg-r-1" ng-click="hhc.login()">會員登入</button></div>
                </li>
                <li ng-if="hhc.member.open=='Y'" role="presentation" class="dropdown">
                    <a class="dropdown-toggle text-hit  font-s-14" data-toggle="dropdown" role="button" aria-expanded="false">會員專區 <span class="caret"></span>
                </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <h5 class="text-hit">歡迎光臨，{{hhc.member.name}}</h5></li>
                        <li><a ui-sref='changepw'>密碼修改</a></li>
                        <li><a href="#">課程請假</a></li>
                        <li><a ui-sref='person'>個人資料</a></li>
                        <li><a ui-sref='order'>訂單查詢</a></li>
                        <li><a  style="padding-bottom: 10px" ui-sref="outlogin">登出</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
