.goods-group{
	li.active>a{
		border: 1px solid #b41d5e;
		background-color: #b41d5e;
		color:#fff;
		&:hover{
			color:#fff;
			background-color: #b41d5e;
		}
	}
	li>a:hover{
		background-color: #ffe6ed;
		border-color: #b41d5e;
	}
}
.class-img{
	width: 20%;
	img{
		min-width: 100px;
	}
}
.goods-list{
	li{
		padding:15px 0px;
		border-bottom: 1px solid #ccc;
		overflow: auto;
		.class-img{
			padding-left: 0px;
		    padding-right: 7%;
		    width: 23%;
			text-align: center;
			img{
				width: 100%;
				height: auto;
				min-width: 120px;
			}
			.goods-tag{
				margin-left: 50px;
				left: 0px;
				top:0;
				img{
					min-width: 50px;
					min-height: 50px;
				}
			}
		}
		.class-text{
			width: 60%;
			min-width: 300px;

		}
		.book-img{
			padding-left: 50px;
			padding-right: 20px;
			width: 30%;
			img{
				width: 100%;
				height: auto;
				min-width: 100px;
				min-height: 100px;
			}
		}
		.book-price{
			p{
				color:orange;
				font-size: 18px;
				font-weight: bolder;
			}
		}
	}
}
h3.media-heading{
	font-weight: bolder;
}
a.list-group-item {
	min-width: 150px;
	.pull-right{
		font-weight: 900;
		font-size: 14px;
	}
}
@media (max-width: 991px) {
	.goods-list{
		li{
			.class-img{
				padding-right: 10px;
			}
		}
	}
}
.goods-price{
	line-height: 32px;
	font-size: 14px;
	font-weight: bolder;
	span{
		font-size: 24px;
	}
}
.goods-detail{
	line-height: 18px;
}
.row.nomarg{
	margin: 0px 0px;
}

.label-group{
	font-size: 16px;
	.label{
		line-height: 30px;
		background: none;
		border:1px solid #333;
		font-weight: normal;
		color: #333;
		&.label-danger{
			border:1px solid #c00;
			color: #c00;
		}

	}
}
big{
		font-size: 16px;
}
@media (max-width: 992px) { 
	.z-index-1.buystep{
		position: static;
	}
}
@media (max-width: 767px) { 
	.symbol{
		width: 10px;
		height: 10px;
		padding:10px;
		
		animation-name: symbolround;
    	animation-duration: 1s;
    	transform: rotate(90deg);
	}
	.detail-over{
		overflow: auto;
	}
}
@media (min-width: 768px) {
	.symbol{
		animation-name: symbolround2;
    	animation-duration: 1s;
    	transform: rotate(0deg);
	}	
}
@keyframes symbolround {
    from {transform: rotate(0deg);}
    to {transform: rotate(90deg);}
}

@keyframes symbolround2 {
    from {transform: rotate(90deg);}
    to {transform: rotate(0deg);}
}
.pricegroup{
	.list-group-item{
		color:#000;
		background-color: #FFF;
		border-color:#bf4100;
		animation: lightitem 1.5s;
		-webkit-animation: lightitem 1.5s;
		&:hover{
			background-color: #ffe4ec;
		}
	}
}
.caseprice{
	color:#e37779;
	&:hover{
		color:#e65557;
		font-weight: bolder;
	}
}
@keyframes lightitem{
	from  {background-color: rgba(#ffe4ec,0.5);}
	to {background-color:#FFF;}
}

.choice{
	padding-top: 8px;
	padding-bottom: 5px;
	padding-right:0px;
	font-size: 14px;
	color: #b41d5e;
}

.tagline{
	border-bottom:1px #ccc dashed;
	&:hover{
		border-bottom:1px #b41d5e solid;
	}
}