.teacher-list{
	table{
		margin-bottom: 20px;
	}
	h3{
		letter-spacing: 2px;
	}
}
.text-hit{
		font-weight: 900;
		color:#c10000;
}
.iconmenu.nomarg{
	li{
		margin-top: 5px;
		margin-bottom: 0px;
	}
}
.border-red{
		border-left-width: 5px;
		border-color:#b41d5e;
		&.list-group-item:hover,
  		&.list-group-item:focus{
  			background-color: #fffafa;
  		}
  		>.media-heading{
  			padding-bottom: 5px;
  			color:#b41d5e;
  		}
}
.doc{
	font-size: 12px;
	h4{
		font{
			color:#b41d5e;
		}
		border-bottom: 3px solid #b41d5e;
		color:#b41d5e;
		padding-bottom: 4px;
	}
	p{
		a{
			border-bottom: 1px dashed #aaa;
		}
		a:hover,a:active{
			text-decoration: none;
			border-color: #b41d5e;
		}
	}
	.z-index-1{
		right: 0;
		bottom: 0;
		img{
			 	width:100%;
				min-width: 200px;
		}
	}
}

@media (max-width: 768px) {
	.doc{
		.z-index-1{
			position: static;
			img{
				max-width: 315px;
			}
		} 
	}
	
}