.addbuy{
		line-height: 20px;
	&.checkbox{
		margin-left: 30px;
	}
}

.buyer-detail{
	h4{
		color:#b41d5e;
		line-height: 34px;
		.back-white{
			padding-right: 10px;
			padding-bottom: 5px;
			background-color: #fff;
		}
	}
	small{
		line-height: 34px;
	}
	.line-red{
			color:#b41d5e;
			border-bottom: 1px solid #b41d5e;
	}
	.modal-footer{
		border-color: #b41d5e;
	}
}
.order-detail{
	width: 90%;
	text-align: left;
	thead{
		color:#999;
		th{
			text-align: left;
			&:first-child{
				text-align: center;
			}
		}
	}
	tfoot{
		color:#b41d5e;
		font-weight: bolder;
		border-bottom: 1px solid #b41d5e;
	}
}
.ps-detail{
	p{
		margin-bottom: 5px;
		line-height: 20px;
	}
	p.t-indent{
		margin-left:10px;
		text-indent : -1em ;
	}
}
.order-final{
	line-height: 28px;
}
.circle{
	width: 100%;
	height: 100%;
	margin: 5px;
	line-height: 50px;
	font-size: 18px;
	text-align: center;
	border-radius: 100%;
	&.black{
		color:#fff;
		background-color: #000;
	}
	&.red{
		color:#fff;
		background-color: #b41d5e;
	}
	&.gray:hover,&.active{
		color:#fff;
		background-color: #5b5b5b;
	}
	&.noline-h{
		line-height: 140%;
	}
	&.border{
		border: 2px solid #b41d5e;
	}
	&.link{
		cursor:pointer;
	}
	
}
.newlist.circle{
	transition:background-color 0.1s;
	animation: plus 1.25s infinite;
	-webkit-animation: plus 1.25s infinite alternate;
	&:hover{
		background-color: rgba(#b41d5e, 0.3);
		animation:none;
		-webkit-animation:none;
	}
}
@keyframes plus{
	from  {border-color:rgba(#000, 0.1);}
	to {border-color:#b41d5e;}
}
.buystep{
	font-weight: bolder;
	color:#b41d5e;
	text-align: center;
	line-height: 200%;
	>div.circle{
		cursor:pointer;
		margin: 0px auto;
	}
	>div.circle.border.red{margin: 0px auto;margin-top: 10px;}
	>.line{margin: 0px auto; width: 1px}
	>div.circle.nolink{
		cursor:default;
	}
}
@media (max-width: 767px) {
	.z-index-1.line-768{
		position: static;
		margin-top: 5px;
		.buystep{
			>div{
				float: left;
			}
			>.line{
				width: 30px;
				height: 1px;
				margin:29px 0px;
			}
			>.circle,.border.red{
				margin: 0px;
			}
		}
	}
}
@media (max-width: 992px) {
	.z-index-1.buystep.smallhide{
			display: none;
	}
	
}
@media (max-width: 490px) {
	.max-w480{
		clear:both;
	}
}


.buystepmore{
	h3,h4{
		font-weight: bolder;
		color:#b41d5e;
	}
	letter-spacing: 2px;
}
.redfont{
	color: #b41d5e;
}
.redhr{
	height:1px;
	background-color:#b41d5e;
}
.icon-mark{
	margin-top:19px;
	font-size:20px;

}