$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
@grid-float-breakpoint: 992px;
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "_goods-list.scss";
@import "_shopcart";
@import "_news.scss";
@for $i from 1 through 10 {
    .w-#{$i}-pa {
        width: 10% * $i;
        min-width: 130px;
    }
    .h-#{$i}-pa {
        height: 10% *$i;
    }
}

@for $i from 1 through 100 {
    .h-#{$i} {
        max-height: 10px * $i;
        height: 10px*$i;
    }
    .w-#{$i} {
        width: 10px * $i;
    }
    .h-fix-#{$i} {
        height: 20px * $i;
    }
    .w-min-#{$i} {
        min-width: 10px*$i;
    }
    .marg-all-#{$i} {
        margin: 10px*$i;
    }
    .marg-b-#{$i} {
        margin-bottom: 10px*$i
    }
    ;
    .marg-l-#{$i} {
        margin-left: 10px*$i
    }
    ;
    .marg-r-#{$i} {
        margin-right: 10px*$i
    }
    ;
    .marg-t-#{$i} {
        margin-top: 10px*$i
    }
    ;
    .pad-all-#{$i} {
        padding: 10px*$i;
    }
    ;
    .pad-b-#{$i} {
        padding-bottom: 10px*$i
    }
    ;
    .pad-l-#{$i} {
        padding-left: 10px*$i
    }
    ;
    .pad-r-#{$i} {
        padding-right: 10px*$i
    }
    ;
    .pad-t-#{$i} {
        padding-top: 10px*$i
    }
    .pad-#{$i}{
        padding:10px*$i;
    }
    ;
    .font-s-#{$i} {
        font-size: 1px*$i;
    }
    .line-h-#{$i} {
        line-height: 1px*$i;
    }
    .min-h-#{$i} {
        min-height: 10px*$i;
    }
}

.div-center {
    margin: 0 auto;
}

body,
html {
    font-family: Microsoft JhengHei;
    font-size: 15px
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 2px;
    font-weight: bolder;
}

a {
    color: #757575;
    &:hover,
    &:active,
    &:focus {
        font-weight: bolder;
        background: none;
        color: #b41d5e;
        text-decoration: none;
    }
}

.nopadding-r {
    padding-right: 0;
}

.nopadding-l {
    padding-left: 0;
}

.nopadding-t {
    padding-top: 0;
}

.nopadding-b {
    padding-bottom: 0;
}

.footer {
    background-color: #000;
    color: #fff;
    font-size: 13px;
}

.container-fluid {
    padding: 0;
}

.row {
    margin: 10px 0;
}

.z-index-0 {
    position: relative;
    z-index: 0;
}

.z-index-1 {
    position: absolute;
    z-index: 1;
}

.navbar {
    margin-bottom: 0px;
    border: none;
}

.navbar-nav {
    margin-top: 65px;
    background-color: #FFF;
    z-index: 999;
    >li{
        z-index: 999;
        background-color: #FFF;
    }
    >li>a {
        font-size: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-bottom: 3px solid #fff;
        transition: border 0.25s;
        color: #777;
        border-left: 1px solid #ddd;
        &:hover,
        &:active,
        &:focus { 
            background-color: #FFF;
            color: #b41d5e;
            border-bottom: 5px solid #b41d5e;
        }
    }
    >li:first-child>a{
        border-left: none;
    }
}

.nav .open >a {
    background: none;
    border-bottom: 3px solid #b41d5e;
}
.nav .open > a, 
.nav .open > a:hover, 
.nav .open > a:focus{
    background: none;
    border-color: #b41d5e;
    border-left-color: #ddd;
}

.dropdown-menu {
    border-color: #b41d5e;
    font-size: 14px;
    li>a:hover {
        background-color: #ffe6ed;
    }
    min-width:139px;
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
}
.logo2 {
    display: none;
    color: #b41d5e;
    font-size:14px;
    letter-spacing: 3px;
}

@media (max-width: 986px) {
    div.logo {
        display: none;
    }
    div.logo2 {
        position: absolute;
        display:block;
        letter-spacing: 3px;
        color:#333;
        line-height:80px;
    }
}
@media (max-width: 767px) {
    .navbar-brand {
        position: absolute;
        width: 90%;
        text-align: center;
        margin: 0 auto;
    }
    ul.navbar-nav {
        margin-top: 0px;
        padding-top: 5px;
    }
    div.logo2 {
        padding: 0;
        padding-left: 10%;
        text-align: center;
        font-size: 22px;
        line-height: 50px;
        img {
            margin: 0 auto;
            height: 50px;
            display: none;
        }
        &::after,
        &::before {content:" :: ";}
    }
    #js-navbar-collapse{
        z-index: 999;
        background-color: #fff;
        >ul{
            z-index: 999;
            background-color: #fff;
            background-color: #fff;
            >li{
                z-index: 999;
            }
        }
    }
    .navbar-nav {
        margin-right: 0px;
        li>a {
            text-align: right;
            padding-right: 60px;
            border-bottom: 1px dashed #ddd;
        }
        li>.btn {
            margin-top: 5px;
            float: right;
            margin-right: 60px;
        }
        li:last-child {
            clear: both;
        }
    }
    .container.nopadding-l.nopadding-r {
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media (max-width: 480px) {
    div.logo2 {
        font-size: 18px;
        text-align: left;
        &::after,
        &::before {content:"";}
    }    
}
.icon-bar {
    background-color: #000;
}

.menu-left {
    width: 18%;
    min-width: 280px;
    a {
        background-color: #cfcab9;
        border-color: #8c8169;
        color: #665314;
        font-size: 16px;
        line-height: 44px;
        text-align: center;
        transition: background 0.25s;
        letter-spacing: 2px;
    }
    a:nth-child(odd) {
        background-color: #8c8169;
        border-color: #8c8169;
        color: #fff;
    }
    a:hover{
        background-color: #5a4c2f;
        color: #fff;
    }
}

.carousel-indicators {
    margin-left: -20%;
    li {
        background-color: #e9e9e9;
        border: 1px solid #aaa;
        margin:0px 5px;
        width: 12px;
        height: 12px;
    }
    .active {
        background-color: #b41d5e;
        border: 1px solid #a00045;
        margin:0px 5px;
    }
}

.item {
    >img {
        min-height: 450px;
    }
}
.carousel-control{
    &.right{
        background:linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.1) 100%);
    }
    &.left{
        background:linear-gradient(to right, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.0001) 100%);
    }
}
.colorbox {
    &.border-all {
        border: 1px solid #777;
        &.bor-cor-red {
            border-color: #b41d5e;
        }
    }
    &.white {
        background-color: #fff;
    }
    &.gray {
        background-color: #f4f4f4;
    }
    &.red {
        background-color: #ffe6ed;
    }
    &.lightred {
        background-color: #fff5f5;
    }
    &.deepgray {
        background-color: #3e3a39;
        color: #fff;
    }
    &.deepred {
        background: linear-gradient(to right, rgba(230, 9, 94, 0.8), rgba(154, 22, 109, 0.8)), url(../images/title_back.png);
        color: #fff;
    }
    &.deepblue {
        background: linear-gradient(to right, rgba(29, 113, 178, 0.9), rgba(73, 44, 176, 0.9)), url(../images/title_back.png);
        color: #fff;
    }
    &.deepbrown {
        background: linear-gradient(to right, rgba(163, 115, 11, 0.9), rgba(98, 42, 7, 0.9)), url(../images/title_back.png);
        color: #fff;
    }
    &.imgback {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        color:#fff;
    }
}

.hr-shadow {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    &.in {
        box-shadow: inset 1px -2px 6px rgba(0, 0, 0, 0.1);
    }
}

.icon {
    margin-bottom: 3px;
    width: 70px;
    height: 70px;
    background-size: 100%;
    background-repeat: no-repeat;
    &.icon-news {
        background-image: url("../images/icon-news.png");
    }
    &.icon-class {
        background-image: url("../images/icon-class.png");
    }
    &.icon-book {
        background-image: url("../images/icon-book.png");
    }
    &.icon-online {
        background-image: url("../images/icon-online.png");
    }
}

.iconmenu {
    li {
        margin-bottom: 20px;
        a {
            text-decoration: none;
            font-weight: 900;
            color: #b41d5e;
            font-size: 16px;
            line-height: 32px;
        }
    }
    &.icon-marg {
        li {
            width: 20%;
            // margin-right: 18%;
            margin: 0px auto;
            border:1px transition solid;
            div {
                margin: 0px auto;
            }
            &:hover{
                background-color: rgba(#eee,0.5);
                border:1px #eee solid;
            }
        }
        
    }
    li:last-child {
        margin-right: 0%;
    }
}
@media(max-width: 480px){
    .icon {
        width: 40px;
        height: 40px;
    }
    .iconmenu>li>a{
        line-height: 100%;
    }
}

.lightgrayfooter {
    background-color: #eee;
    color: #333;
}

.grayfooter {
    background-color: #282f35;
}

.foottitle {
    font-size: 16px;
    font-weight: 900;
    text-align: right;
}
@media (max-width: 767px) {
    .foottitle{
        text-align: left; 
        line-height: 40px;
        padding-top: 5px;
    }    
}

.border-l {
    border-left: 1px solid #aaa;
    padding-left: 10px
}

.gotop {
    display: none;
    padding: 5px;
    position: fixed;
    z-index: 2;
    bottom: 50%;
    right: 10%;
    border: 1px solid #ccc;
    background: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

@media (max-width: 1600px) {
    .gotop {
        bottom: 30%;
        right: 5%;
    }
}



@media (max-width: 992px) {
    .gotop {
        bottom: 10%;
        right: 0%;
        animation-name: gotopmove;
        animation-duration: 1s;
    }
}

@keyframes gotopmove {
    from {
        bottom: 30%;
        right: 5%;
    }
    to {
        bottom: 10%;
        right: 0%;
    }
}

.topmenu {
    padding: 0 10%;
}

@media (min-width: 1510px) {
    .topmenu {
        padding-left: 15%;
        padding-right: 15%;
    }
}
@media (max-width: 1192px) {
    .topmenu {
        padding-left: 0;
        padding-right: 5px;
    }
}

.prev {
    left: 5%;
    top: 50%;
    a.carousel-control {
        color: #337ab7;
    }
}

.next {
    left: 5%;
    top: 50%;
    a.carousel-control {
        color: #337ab7;
    }
}
@media (max-width: 1199px) {
    .next{
        right: 0;
    }
    .prev{
        margin-left: 15px;
        left:0;
    }  
}

.cm {
    position: absolute;
    z-index: 1;
    bottom: 0px;
    &.text {
        margin-bottom: 25px;
        text-shadow: 0px 0px 5px #fff;
        .btn {
            text-shadow: none;
        }
    }
}

@media (max-width: 900px) {
    .cm {
        position: static;
        &.text {
            margin-top: 10px;
            margin-bottom: 0px;
        }
    }
}

.distable {
    display: table;
    width: 100%;
    list-style: none;
    table-layout: fixed;
    li {
        display: table-cell;
        padding: 2px;
    }
}

.menu-news {
    position: absolute;
    z-index: 1;
}

@media (max-width: 1700px) {
    .menu-news {
        margin-left: 8%;
        
    }
}
@media (max-width: 1350px) {
    .menu-news {
        margin-left: 6%;
        
    }
}
@media (max-width: 1175px) {
    .menu-news {
        margin-left: 0;
        
    }
}
@media (max-width: 767px) {
    .header.h-10{
        height: 70px;
    }
   .menu-news{
       position:relative;
       margin-left: 0;
   }
    .menu-left{
        padding-top: 20px;
        width:100%;
        a{
            width:50%;
            float: left;
            line-height: 20px;
            height: 60px;
        }  
    }
    .item {
        margin: 0 auto;
    }
}

.media-body{
    div{
        font-size: 14px;
    }
}
